wf-discovery.json
{
  "name": "RAYN Lead Discovery - NocoDB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "id": "disc-0001",
      "name": "Weekly Trigger"
    },
    {
      "parameters": {
        "jsCode": "const areas = [\n  'Bishan','Bukit Merah','Bukit Timah','Downtown Core','Geylang','Kallang',\n  'Marina East','Marina South','Marine Parade','Museum','Newton','Novena',\n  'Orchard','Outram','Queenstown','River Valley','Rochor','Singapore River',\n  'Southern Islands','Straits View','Tanglin','Toa Payoh','Bedok','Changi',\n  'Changi Bay','Pasir Ris','Paya Lebar','Tampines','Central Water Catchment',\n  'Lim Chu Kang','Mandai','Sembawang','Simpang','Sungei Kadut','Woodlands',\n  'Yishun','Ang Mo Kio','Hougang','North-Eastern Islands','Punggol','Seletar',\n  'Sengkang','Serangoon','Boon Lay','Bukit Batok','Bukit Panjang',\n  'Choa Chu Kang','Clementi','Jurong East','Jurong West','Pioneer','Tengah',\n  'Tuas','Western Islands','Western Water Catchment'\n];\n\nconst categories = [\n  {q: 'GP clinic', batch: 'Batch 1 - Sep 2027'},\n  {q: 'acute hospital', batch: 'Batch 1 - Sep 2027'},\n  {q: 'clinical laboratory', batch: 'Batch 1 - Sep 2027'},\n  {q: 'radiology centre', batch: 'Batch 1 - Sep 2027'},\n  {q: 'nursing home', batch: 'Batch 1 - Sep 2027'},\n  {q: 'community hospital', batch: 'Batch 1 - Sep 2027'},\n  {q: 'specialist outpatient clinic', batch: 'Batch 2 - Sep 2028'},\n  {q: 'ambulatory surgical centre', batch: 'Batch 2 - Sep 2028'},\n  {q: 'dialysis centre', batch: 'Batch 2 - Sep 2028'},\n  {q: 'dental clinic', batch: 'Batch 3 - Mar 2030'},\n  {q: 'retail pharmacy', batch: 'Batch 3 - Mar 2030'},\n  {q: 'assisted reproduction centre', batch: 'Batch 3 - Mar 2030'}\n];\n\nconst combos = [];\nfor (const cat of categories) {\n  for (const area of areas) {\n    combos.push({\n      search_query: cat.q + ' ' + area + ' Singapore',\n      category: cat.q,\n      hia_batch: cat.batch,\n      area: area\n    });\n  }\n}\n\ncombos.push({\n  search_query: 'healthcare IT Singapore',\n  category: 'healthcare IT Singapore',\n  hia_batch: 'Vendor to HIA clients',\n  area: 'Singapore'\n});\ncombos.push({\n  search_query: 'medical software Singapore',\n  category: 'medical software Singapore',\n  hia_batch: 'Vendor to HIA clients',\n  area: 'Singapore'\n});\n\nreturn combos.slice(0, 5).map(c => ({json: c}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "id": "disc-0002",
      "name": "Generate Search Combos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/places",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({q: $json.search_query, gl: 'sg', num: 3}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ],
      "id": "disc-0005",
      "name": "Serper Places",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rNWf15tU6OmVJqMC",
          "name": "serper"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get ALL Serper responses and ALL original combos\nconst serperItems = $input.all();\nconst combos = $('Generate Search Combos').all();\nconst now = new Date().toISOString();\n\nconst results = [];\n\nfor (let i = 0; i < serperItems.length; i++) {\n  const serper = serperItems[i].json;\n  const places = serper.places || [];\n  const combo = (i < combos.length) ? combos[i].json : {};\n\n  for (const p of places) {\n    const name = (p.title || '').trim();\n    if (!name) continue;\n\n    let website = (p.website || p.link || '').trim();\n    if (website && !website.startsWith('http')) website = 'https://' + website;\n    website = website.replace(/\\/+$/, '');\n\n    results.push({\n      json: {\n        company_name: name,\n        website_url: website,\n        category: combo.category || '',\n        hia_batch: combo.hia_batch || '',\n        area: combo.area || '',\n        discovered_at: now\n      }\n    });\n  }\n}\n\nreturn results.length ? results : [{json: {company_name: '_NO_RESULTS_', _skip: true}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "id": "disc-0006",
      "name": "Parse Places"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scrape.serper.dev/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.website_url }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        520
      ],
      "id": "0b0d4195-ded8-4f8c-a03e-73575ca0353e",
      "name": "Crawl4AI - Discovery Scrape",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rNWf15tU6OmVJqMC",
          "name": "serper"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Parse Places').item.json || {};\nconst fetchResponse = $json || {};\nconst payload = fetchResponse.body && typeof fetchResponse.body === 'object' ? fetchResponse.body : fetchResponse;\nconst rawContent = typeof payload === 'string' ? payload : (payload.result || payload.text || payload.data || payload.markdown || '');\nconst websiteContent = String(rawContent || '').substring(0, 12000);\nconst statusCode = Number(fetchResponse.statusCode || 0);\nconst finalUrl = String(source.website_url || '').trim();\nconst companyName = String(source.company_name || '').trim();\n\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0,\n  messages: [{\n    role: 'user',\n    content: `You are determining whether a discovered Singapore healthcare entity belongs to a different parent company or group.\n\nDiscovered company: ${companyName}\nDiscovered website: ${finalUrl}\nFetch status: ${statusCode}\nWebsite content:\n${websiteContent}\n\nReturn STRICT JSON only in this exact shape:\n{\"parent_company\":\"\",\"parent_website\":\"\",\"parent_domain\":\"\",\"is_same_entity\":true}\n\nRules:\n- If the discovered company itself is the top-level company or brand, set is_same_entity to true and leave parent_* blank.\n- Only return a parent when the content clearly shows a distinct parent company, holding company, or medical group.\n- parent_website must be the official parent website when identifiable.\n- parent_domain must be a bare domain like sgpaincare.com with no protocol or path.\n- Do not invent a parent from weak hints.\n- If the fetch status is non-2xx or the content is too thin to support a parent conclusion, return is_same_entity true and leave parent_* blank.\n- Prefer the Singapore parent/group shown on the official site.\n- Examples:\n  - DR+ Medical & Paincare Bishan on drplus.com.sg with clear group branding for Singapore Paincare Holdings Limited -> is_same_entity false, parent_company Singapore Paincare Holdings Limited, parent_website https://sgpaincare.com/, parent_domain sgpaincare.com\n  - Raffles Medical Clinic on rafflesmedicalgroup.com -> is_same_entity true\n`\n  }]\n};\n\nreturn { json: { requestBody: body, source } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        520
      ],
      "id": "6935f797-141a-459c-b90a-32f4a8677e66",
      "name": "Prep Discovery Parent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Discovery Parent Extraction"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        520
      ],
      "id": "5820a9c8-1526-46c4-bb54-08324c57bfc1",
      "name": "OpenRouter - Discovery Parent",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function normalizeUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  return raw.startsWith('http') ? raw.replace(/\\/+$/, '') : `https://${raw}`.replace(/\\/+$/, '');\n}\n\nfunction extractDomain(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return url.hostname.replace(/^www\\./i, '').toLowerCase();\n  } catch {\n    return raw.replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').split('/')[0].toLowerCase();\n  }\n}\n\nconst responses = $input.all();\nconst output = [];\n\nfor (const item of responses) {\n  const source = { ...(item.json?.source || {}) };\n  if (!source.company_name) continue;\n\n  const response = String(item.json?.choices?.[0]?.message?.content || '').trim();\n  let parsed = {};\n  try {\n    parsed = JSON.parse(response);\n  } catch {\n    const match = response.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        parsed = JSON.parse(match[0]);\n      } catch {}\n    }\n  }\n\n  const operatingUrl = normalizeUrl(source.website_url);\n  const operatingDomain = extractDomain(operatingUrl);\n  const parentDomain = extractDomain(parsed.parent_domain || parsed.parent_website || '');\n  const parentWebsite = normalizeUrl(parsed.parent_website || (parentDomain ? `https://${parentDomain}` : ''));\n  const parentCompany = String(parsed.parent_company || '').trim();\n  const isSameEntity = parsed.is_same_entity !== false || !parentCompany || !parentDomain || parentDomain === operatingDomain;\n  const groupKey = parentDomain || operatingDomain || '';\n\n  output.push({\n    json: {\n      company_name: source.company_name || '',\n      website_url: operatingUrl,\n      category: source.category || '',\n      hia_batch: source.hia_batch || '',\n      area: source.area || '',\n      discovered_at: source.discovered_at || new Date().toISOString(),\n      entity_type: 'operating',\n      parent_company: isSameEntity ? '' : parentCompany,\n      parent_domain: isSameEntity ? '' : parentDomain,\n      parent_website: isSameEntity ? '' : parentWebsite,\n      group_key: groupKey\n    }\n  });\n\n  if (!isSameEntity) {\n    output.push({\n      json: {\n        company_name: parentCompany,\n        website_url: parentWebsite,\n        category: source.category || '',\n        hia_batch: source.hia_batch || '',\n        area: source.area || '',\n        discovered_at: source.discovered_at || new Date().toISOString(),\n        entity_type: 'parent',\n        parent_company: '',\n        parent_domain: '',\n        parent_website: '',\n        group_key: groupKey\n      }\n    });\n  }\n}\n\nreturn output.length ? output : [{ json: { _skip: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        520
      ],
      "id": "981d95db-aaa0-4c35-b793-b5f43a21d15d",
      "name": "Build Discovery Entities"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-skip-empty",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "disc-filter-empty",
      "name": "IF No Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        540
      ],
      "id": "disc-noop-empty",
      "name": "No Results - Stop"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function normalizeUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  return raw.startsWith('http') ? raw : `https://${raw}`;\n}\n\nfunction extractDomain(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return url.hostname.replace(/^www\\./i, '').toLowerCase();\n  } catch {\n    return raw.replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').split('/')[0].toLowerCase();\n  }\n}\n\nfunction keyFor(row) {\n  const entityType = String(row.entity_type || 'operating').toLowerCase();\n  const domain = extractDomain(row.website_url || row.parent_domain || '');\n  const name = String(row.company_name || '').toLowerCase().trim();\n  return [entityType, domain, name].join('|');\n}\n\nconst candidates = $('Build Discovery Entities').all().filter(i => !i.json._skip);\nconst existing = ($input.first().json.list || []);\nconst existingKeys = new Set(existing.map(r => keyFor(r)).filter(Boolean));\n\nconst batchKeys = new Set();\nconst newItems = [];\n\nfor (const item of candidates) {\n  const key = keyFor(item.json);\n  if (!key || existingKeys.has(key) || batchKeys.has(key)) continue;\n  batchKeys.add(key);\n  newItems.push(item);\n}\n\nif (!newItems.length) return [{ json: { _skip: true } }];\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "id": "disc-dedup-vs-discovery",
      "name": "Dedup vs Discovery"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all().filter(i => !i.json._skip);\nif (!allItems.length) return [{ json: { rows: [] } }];\nconst all = allItems.map(i => i.json);\nconst chunks = [];\nfor (let i = 0; i < all.length; i += 100) {\n  chunks.push({json: {rows: all.slice(i, i + 100)}});\n}\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "id": "disc-prep-discovery",
      "name": "Prep Discovery Bulk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/bulk/noco/pb7f1zou786xyqc/mp36f8mgk115qse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 120000
        },
        "jsonBody": "={{ $json.rows }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        300
      ],
      "id": "disc-write-discovery",
      "name": "Write Discovery"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mp36f8mgk115qse?limit=1000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "id": "disc-read-discovery",
      "name": "Paginate Read Discovery"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9?limit=1000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        300
      ],
      "id": "disc-read-leads",
      "name": "Paginate Read Leads"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const newDiscoveries = $('Dedup vs Discovery').all().filter(i => !i.json._skip);\nconst existingLeads = ($input.first().json.list || []);\nconst existingNames = new Set(existingLeads.map(r => (r.company_name || '').toLowerCase().trim()).filter(Boolean));\n\nconst batchNames = new Set();\nconst newLeads = [];\n\nfor (const item of newDiscoveries) {\n  const name = (item.json.company_name || '').toLowerCase().trim();\n  if (!name || existingNames.has(name) || batchNames.has(name)) continue;\n  batchNames.add(name);\n  newLeads.push({ json: { company_name: item.json.company_name, status: 'pending' } });\n}\n\nif (!newLeads.length) return [{ json: { _skip: true } }];\nreturn newLeads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        300
      ],
      "id": "disc-0011",
      "name": "Dedup Against Leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2800,
        300
      ],
      "id": "disc-0012",
      "name": "IF No New Leads"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3080,
        540
      ],
      "id": "disc-0013",
      "name": "No New Leads - Stop"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all();\nconst all = allItems.map(i => i.json);\nconst chunks = [];\nfor (let i = 0; i < all.length; i += 100) {\n  chunks.push({json: {rows: all.slice(i, i + 100)}});\n}\nreturn chunks.length ? chunks : [{json: {rows: []}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        300
      ],
      "id": "disc-prep-leads",
      "name": "Prep Leads Bulk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/bulk/noco/pb7f1zou786xyqc/mey3zgihq7o4at9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 120000
        },
        "jsonBody": "={{ $json.rows }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        300
      ],
      "id": "disc-push-leads",
      "name": "Push to Leads"
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Generate Search Combos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Search Combos": {
      "main": [
        [
          {
            "node": "Serper Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Places": {
      "main": [
        [
          {
            "node": "Parse Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Places": {
      "main": [
        [
          {
            "node": "IF No Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Results": {
      "main": [
        [
          {
            "node": "No Results - Stop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crawl4AI - Discovery Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Discovery Bulk": {
      "main": [
        [
          {
            "node": "Write Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Discovery": {
      "main": [
        [
          {
            "node": "Paginate Read Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginate Read Discovery": {
      "main": [
        [
          {
            "node": "Dedup vs Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup vs Discovery": {
      "main": [
        [
          {
            "node": "Prep Discovery Bulk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginate Read Leads": {
      "main": [
        [
          {
            "node": "Dedup Against Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Against Leads": {
      "main": [
        [
          {
            "node": "IF No New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No New Leads": {
      "main": [
        [
          {
            "node": "No New Leads - Stop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Leads Bulk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Leads Bulk": {
      "main": [
        [
          {
            "node": "Push to Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl4AI - Discovery Scrape": {
      "main": [
        [
          {
            "node": "Prep Discovery Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Discovery Parent": {
      "main": [
        [
          {
            "node": "OpenRouter - Discovery Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Discovery Parent": {
      "main": [
        [
          {
            "node": "Build Discovery Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discovery Entities": {
      "main": [
        [
          {
            "node": "Paginate Read Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
