wf-latest.json
{
  "name": "RAYN Lead Enrichment - NocoDB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -30464,
        2512
      ],
      "id": "a3f8e87b-0e9c-4696-85c2-51aac2d7c4c3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -30464,
        2672
      ],
      "id": "manual-trigger-latest-001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'minimax/minimax-m2.7',temperature:0.1,messages:[{role:'user',content:'Clean up this company name for a web search: ' + $json.company_name + '\\n\\nRules:\\n- Remove legal suffixes: Pte Ltd, Ltd, Pte. Ltd., LLP, Inc, Corp, Sdn Bhd\\n- Preserve meaningful brand words and brand punctuation when it helps exact matching\\n- Normalize obvious punctuation noise only when it does not change the brand\\n- Expand common abbreviations only if obvious\\n- Keep proper nouns and brand names exactly as-is\\n- If already clean, return as-is\\n- Do not add any extra words\\n\\nExamples:\\n- Pacific Healthcare Holdings Pte. Ltd. -> Pacific Healthcare Holdings\\n- NKF (Singapore) -> NKF Singapore\\n- St. Andrew\\'s Mission Hospital -> St Andrews Mission Hospital\\n- DR+ Medical & Paincare Bishan -> DR+ Medical Paincare Bishan\\n\\nOutput: cleaned name only, one line.'}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29504,
        2512
      ],
      "id": "fe96459e-0322-426e-883f-d4682ce7909b",
      "name": "OpenRouter - Clean Name",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-clean-1",
              "leftValue": "={{ ($json.choices[0].message.content || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -29264,
        2512
      ],
      "id": "95be02d4-f40c-4abb-a6b5-7048bab1efb2",
      "name": "IF Clean Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"clean failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29024,
        2736
      ],
      "id": "f419fa01-a60f-47bc-9c75-588b772f9e65",
      "name": "Status - clean failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({q: $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + ' Singapore official website', num: 5}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29024,
        2512
      ],
      "id": "fe508761-32d3-4bff-b7e9-49064f6a746d",
      "name": "Serper - Search",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rNWf15tU6OmVJqMC",
          "name": "serper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({q: 'site:linkedin.com/company ' + $('Parse Parent Company').item.json.company_homepage_name + (($('Parse Parent Company').item.json.parent_company || '') !== ($('Parse Parent Company').item.json.company_homepage_name || '') ? ' ' + $('Parse Parent Company').item.json.parent_company : '') + ' Singapore', num: 5}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24640,
        2720
      ],
      "id": "serper-company-linkedin-search-001",
      "name": "Serper - Company LinkedIn Search",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rNWf15tU6OmVJqMC",
          "name": "serper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function normalize(value) {\n  return String(value || '')\n    .toLowerCase()\n    .replace(/&/g, ' and ')\n    .replace(/[^a-z0-9]+/g, ' ')\n    .trim();\n}\n\nfunction tokenise(value) {\n  return normalize(value).split(/\\s+/).filter((token) => token.length > 1);\n}\n\nfunction overlapCount(a, b) {\n  const bSet = new Set(b);\n  return a.filter((token) => bSet.has(token)).length;\n}\n\nfunction linkedInSlugTokens(link) {\n  try {\n    const url = new URL(link);\n    const match = url.pathname.match(/\\/company\\/([^/?#]+)/i);\n    if (!match) return [];\n    return tokenise(match[1].replace(/-/g, ' '));\n  } catch {\n    return [];\n  }\n}\n\nfunction canonicalLinkedIn(link) {\n  try {\n    const url = new URL(link);\n    const match = url.pathname.match(/(\\/company\\/[^/?#]+)/i);\n    return match ? `${url.origin}${match[1]}/` : link;\n  } catch {\n    return link;\n  }\n}\n\nconst results = Array.isArray($json.organic) ? $json.organic : [];\nconst homepageName = String($('Parse Parent Company').item.json.company_homepage_name || '').trim();\nconst parentCompany = String($('Parse Parent Company').item.json.parent_company || '').trim();\nconst homepageNorm = normalize(homepageName);\nconst parentNorm = normalize(parentCompany);\nconst homepageTokens = tokenise(homepageName);\nconst parentTokens = tokenise(parentCompany);\n\nlet best = { score: 0, link: '' };\n\nfor (const result of results) {\n  const link = String(result.link || '').trim();\n  if (!/linkedin\\.com\\/company\\//i.test(link)) continue;\n\n  const haystack = normalize(`${result.title || ''} ${result.snippet || ''}`);\n  const slugTokens = linkedInSlugTokens(link);\n  let score = 0;\n\n  if (homepageNorm && haystack.includes(homepageNorm)) score += 5;\n  if (parentNorm && parentNorm !== homepageNorm && haystack.includes(parentNorm)) score += 4;\n\n  const homepageOverlap = overlapCount(homepageTokens, slugTokens);\n  const parentOverlap = overlapCount(parentTokens, slugTokens);\n\n  if (homepageOverlap >= Math.min(2, homepageTokens.length || 0) && homepageOverlap > 0) score += 3;\n  else if (homepageOverlap > 0) score += 1;\n\n  if (parentNorm && parentNorm !== homepageNorm) {\n    if (parentOverlap >= Math.min(2, parentTokens.length || 0) && parentOverlap > 0) score += 2;\n    else if (parentOverlap > 0) score += 1;\n  }\n\n  if (score > best.score) {\n    best = { score, link: canonicalLinkedIn(link) };\n  }\n}\n\nreturn [{ json: { company_linkedin_url: best.score >= 4 ? best.link : '' } }];"
      },
      "id": "validate-company-linkedin-001",
      "name": "Validate Company LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24416,
        2720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9?fields=url_validated&limit=1000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28544,
        2512
      ],
      "id": "60be1b05-ba29-4f7a-9426-f43013b311f1",
      "name": "Paginate Read Column E",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function toHomepageUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return `${url.protocol}//${url.hostname}/`;\n  } catch {\n    return raw;\n  }\n}\n\nconst records = ($input.first().json.list || []);\nconst existingUrls = records.map(r => toHomepageUrl(r.url_validated)).filter(Boolean);\n// Only send last 200 URLs to avoid massive prompts at scale\nconst recentUrls = existingUrls.slice(-200);\nreturn [{ json: { existing_urls: recentUrls, all_urls: existingUrls } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28304,
        2512
      ],
      "id": "25bad941-99bb-4e77-a794-827166414fe3",
      "name": "Prep URL Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'minimax/minimax-m2.7',temperature:0.1,messages:[{role:'user',content:'Company: ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + '\\nSerper results:\\n' + ($('Serper - Search').item.json.organic || []).map(function(r){return r.title + ' | ' + r.link}).join('\\n') + '\\nAlready used URLs in sheet: ' + $('Prep URL Data').item.json.existing_urls.join(', ') + '\\n\\nPick the single best official URL for ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + '.\\n\\nRules:\\n- Must not already exist in the already used URLs list\\n- If all valid URLs are already in the list, output: duplicate\\n- Prefer .com.sg, .org.sg, .sg domains\\n- A parent company or group holding URL is acceptable\\n- Reject: Facebook, Instagram, LinkedIn, Recordowl, Healthhub, directories, news articles, government listing pages\\n- If no valid match exists, output: none\\n\\nOutput: URL only, or duplicate, or none. One line.'}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28064,
        2512
      ],
      "id": "c75394b2-750d-400e-a626-47f2746624be",
      "name": "OpenRouter - URL Dedup",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-urldup-1",
              "leftValue": "={{ String($json.best_url || '').toLowerCase() }}",
              "rightValue": "duplicate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -27824,
        2512
      ],
      "id": "befde88b-8232-4477-9e49-479edacc3434",
      "name": "IF URL Duplicate"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"url duplicate - same org\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -27584,
        2736
      ],
      "id": "4ce96ba7-8df7-4e51-87c1-d66c9c9fa720",
      "name": "Status - url duplicate",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-urlnone-1",
              "leftValue": "={{ String($json.best_url || '').toLowerCase() }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-urlnone-2",
              "leftValue": "={{ ($json.best_url || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -27584,
        2512
      ],
      "id": "a1990fd5-efcb-4237-9e52-a4f0730e3442",
      "name": "IF URL None"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"no url found\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -27344,
        2736
      ],
      "id": "4ab1bdae-4776-40a8-8a8b-7bc462a29718",
      "name": "Status - no url found",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'minimax/minimax-m2.7',temperature:0.1,messages:[{role:'user',content:'Company: ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + '\\nURL: ' + ($json.best_url || '').trim() + '\\n\\nIs this URL the official website of ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + ' or a legitimate parent/group company?\\n\\nAccept if:\\n- Domain clearly matches company name or known parent brand\\n- It is a real business homepage (.com, .org, .sg, .com.sg, .net)\\n\\nReject if:\\n- Facebook, Instagram, LinkedIn, Recordowl, Healthhub, directory, aggregator, news article, government listing\\n- URL is none\\n\\nOutput rules:\\n- If accepted: output the URL exactly as given\\n- If rejected: output empty string\\n\\nOutput: URL or empty.'}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -27344,
        2512
      ],
      "id": "3a227517-97fa-48c1-bbf1-21e4870e3ee3",
      "name": "OpenRouter - URL Validate",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-urlrej-1",
              "leftValue": "={{ ($json.choices[0].message.content || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -27104,
        2512
      ],
      "id": "e4580f97-216e-40b1-b98d-5c8613be4ebe",
      "name": "IF URL Rejected"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"url rejected\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26864,
        2736
      ],
      "id": "b9c9bfa0-d550-4b9b-a03e-f5929bc9e56b",
      "name": "Status - url rejected",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-rayn-workflows-production.up.railway.app/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Parse HTTP Status').item.json.best_url, company_name: $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim(), market: 'Singapore' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26864,
        2512
      ],
      "id": "a1f37d37-d37a-4ae8-9984-ab4f2a8f337e",
      "name": "Crawl4AI - Scrape",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-scrape-ok",
              "leftValue": "={{ $json.ok !== true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "cond-scrape-short",
              "leftValue": "={{ ($json.website_content || \"\").length }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cond-scrape-errorpage",
              "leftValue": "={{ $json.quality?.looks_like_error_page || false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -26624,
        2512
      ],
      "id": "f767a61e-1660-4b5d-ac13-e42d6463aa15",
      "name": "IF Scrape Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"scrape failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26384,
        2736
      ],
      "id": "9bba2aa4-94f3-4feb-856a-e1cf1a3f8e9a",
      "name": "Status - scrape failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const websiteContent = ($('Crawl4AI - Scrape').item.json.website_content || '').substring(0, 15000);\nconst companyClean = $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim();\nconst websiteUrl = String($('Crawl4AI - Scrape').item.json.final_url || $('Check URL Against All').item.json.best_url || '').trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0,\n  messages: [{\n    role: 'user',\n    content: `Website URL: ${websiteUrl}\nWebsite content: ${websiteContent}\n\nCompany: ${companyClean}\n\nIs ${companyClean} HIA-relevant in Singapore?\n\nReturn exactly one label:\n- YES\n- VENDOR\n- NO\n\nDefinitions:\n- YES: A Singapore healthcare service provider, healthcare operator, community care or social service healthcare organisation, nursing home, clinic group, hospital, dialysis centre, lab, radiology provider, pharmacy, dental provider, or a holding / group / parent entity that owns, operates, manages, groups, brands, or controls Singapore healthcare providers.\n- VENDOR: A non-provider company selling technology, software, cybersecurity, AI, equipment, or services into Singapore healthcare providers.\n- NO: A business with no healthcare provider operations, no healthcare ownership, and no clear healthcare-provider customer base.\n\nCritical classification rules:\n- If the company is a healthcare holding company, clinic group parent, brand parent, or medical group parent in Singapore, classify as YES.\n- If the website shows it owns, operates, manages, groups, brands, or controls healthcare clinics/providers, classify as YES even if the legal entity includes Holdings, Group, Limited, or Pte Ltd.\n- If the website shows multiple clinics, locations, medical centres, provider brands, or a clinic network under one group, classify as YES.\n- Do not classify a healthcare parent/group as NO just because the entity name is corporate.\n- Community care, eldercare, social service, nursing home, or medical charity organisations serving healthcare patients are YES.\n- Use VENDOR when the company is not itself a provider/operator but clearly sells into Singapore healthcare providers.\n- If there is credible provider ownership, operations, or care delivery, prefer YES.\n- If there is credible healthcare-provider customer targeting but no care delivery, prefer VENDOR.\n- Reserve NO for clearly irrelevant businesses or websites with no meaningful healthcare signal.\n\nExamples of YES:\n- a clinic group parent that owns Singapore clinics\n- a healthcare holdings company with several clinic brands or locations\n- a nursing home operator\n- a medical charity or community care organisation delivering healthcare services\n- a healthcare group that operates clinics, hospitals, labs, pharmacies, or radiology centres\n\nExamples of VENDOR:\n- a cybersecurity firm selling into hospitals and clinics\n- a SaaS platform serving healthcare providers\n- a healthcare AI or software vendor that does not itself deliver care\n- a consulting or managed service company focused on healthcare providers\n\nExamples of NO:\n- a generic holding company with no healthcare operations shown\n- a non-healthcare services company with no provider customer base shown\n- an obvious retail, F&B, education, property, or generic logistics business\n\nOutput: one word only: YES / VENDOR / NO`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26144,
        2512
      ],
      "id": "08db30d6-dce0-499b-9bbf-19d7a756a7b3",
      "name": "Prep HIA Gate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -25904,
        2512
      ],
      "id": "68df1b8c-ed4f-4ebc-b13a-68fdd5a88961",
      "name": "OpenRouter - HIA Gate",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-hia-no",
              "leftValue": "={{ !['YES', 'VENDOR'].includes(String(($json.choices?.[0]?.message?.content || '').trim()).toUpperCase()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -25664,
        2512
      ],
      "id": "f7078f30-7cac-42c8-a166-bfee5e74038f",
      "name": "IF Not HIA"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"not HIA relevant\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -25424,
        2752
      ],
      "id": "0b4bfac6-f41b-48b7-8c1e-96febf66d921",
      "name": "Status - not HIA relevant",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-vendor",
              "leftValue": "={{ String(($json.choices[0].message.content || '').trim()).toUpperCase() }}",
              "rightValue": "VENDOR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -25424,
        2512
      ],
      "id": "a21368bc-4d9b-4dca-9b85-8e9e2b9e0042",
      "name": "IF Is Vendor"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  compliance_lead: 'CS/DS vendor readiness',\n  hia_relevant: 'VENDOR'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24624,
        2080
      ],
      "id": "87afa965-c016-463d-badb-c78d4be869dc",
      "name": "Set Vendor Fields"
    },
    {
      "parameters": {
        "jsCode": "const websiteContent = ($('Crawl4AI - Scrape').item.json.website_content || '').substring(0, 15000);\nconst companyClean = $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: `Website content: ${websiteContent}\nCompany: ${companyClean}\n\nReturn a JSON object with exactly these 5 keys:\n\n{\n  \"industry_segment\": \"[5 words max - what they do in Singapore. Examples: GP clinic chain, eldercare social service, AI scribe for clinics, corporate dental provider]\",\n  \"hia_batch\": \"[one of: Batch 1 - Sep 2027 (GP clinics, acute hospitals, labs, radiology, nursing homes, community hospitals) / Batch 2 - Sep 2028 (specialist outpatient, ambulatory surgical, dialysis, other HCSA licensees) / Batch 3 - Mar 2030 (dental, retail pharmacy, assisted reproduction) / Vendor to HIA clients (tech vendors, SaaS platforms)]\",\n  \"company_size\": \"[one of: SME / Mid / Enterprise / Unknown. SME = small clinic, single-location, <200 staff signals. Mid = multi-location group, regional presence. Enterprise = hospital system, listed company, large group]\",\n  \"product_descriptor\": \"[core product or service in max 6 words. Examples: AI scribe for clinic documentation / RTLS hospital tracking system / cloud HIMS for GP clinics]\",\n  \"compliance_lead\": \"[specific HIA compliance path. One of: Batch 1 CSDS Essentials - Sep 2027 (GP clinic, hospital, lab, nursing home) / Batch 2 CSDS Essentials - Sep 2028 (specialist, dialysis, ambulatory) / Batch 3 CSDS Essentials - Mar 2030 (dental, pharmacy, ART) / NCSS TSS + CSDS Essentials (social service org, community care) / CSDS Essentials - batch unconfirmed]\"\n}\n\nOutput: valid JSON only. No markdown. No explanation.`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25184,
        2512
      ],
      "id": "9d6ba226-0eed-4978-b239-5eb049d3ce9c",
      "name": "Prep Enrichment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24944,
        2512
      ],
      "id": "8bc6ead4-f1b8-477d-8da1-461b1ee51fe4",
      "name": "OpenRouter - Enrichment",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = ($json.choices?.[0]?.message?.content || '').trim();\nlet data;\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {\n  data = {};\n}\nconst hiaGate = String(($('OpenRouter - HIA Gate').item.json.choices?.[0]?.message?.content || '').trim()).toUpperCase();\nreturn [{ json: {\n  industry_segment: data.industry_segment || '',\n  hia_batch: data.hia_batch || '',\n  company_size: data.company_size || '',\n  product_descriptor: data.product_descriptor || '',\n  compliance_lead: data.compliance_lead || '',\n  hia_relevant: (hiaGate === 'YES' || hiaGate === 'VENDOR') ? hiaGate : ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24704,
        2512
      ],
      "id": "b8f9566d-e229-4548-835b-24a3846a7630",
      "name": "Parse Enrichment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-enrich-seg",
              "leftValue": "={{ $json.industry_segment }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "cond-enrich-batch",
              "leftValue": "={{ $json.hia_batch }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -24464,
        2512
      ],
      "id": "2d92a9ee-ba26-47e3-bc12-91ad7a7dd835",
      "name": "IF Enrichment Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"enrichment failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24224,
        2752
      ],
      "id": "b9f31008-2c14-4b68-a17c-6d3354ed565e",
      "name": "Status - enrichment failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/decision-maker",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ domain: $json.clean_domain, decision_maker_category: [\"ceo\",\"engineering\",\"finance\",\"it\",\"operations\"] }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23984,
        2512
      ],
      "id": "ed620ed6-5850-4283-833a-dd045cfcf64c",
      "name": "Anymail - Contact",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iThicAIVRbK0FBBl",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst fullName = data?.person_full_name || '';\nconst firstName = fullName.split(' ')[0] || '';\nreturn [{ json: {\n  first_name: firstName,\n  role: data?.person_job_title || '',\n  email: data?.valid_email || data?.email || '',\n  linkedin_url: data?.person_linkedin_url || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23744,
        2512
      ],
      "id": "ea5f2362-d119-4d1c-a015-e3364251d584",
      "name": "Parse Contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-nocontact-name",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "cond-nocontact-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -23504,
        2512
      ],
      "id": "f8e0ec97-1d87-46b4-9160-ebebdba9b5c8",
      "name": "IF No Contact"
    },
    {
      "parameters": {
        "jsCode": "const websiteContent = ($('Crawl4AI - Scrape').item.json.website_content || '').substring(0, 15000);\nconst companyClean = $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: `Website content: ${websiteContent}\nCompany: ${companyClean}\n\nThis company is a VENDOR selling products or services to Singapore healthcare providers subject to HIA 2027.\n\nReturn a JSON object with exactly these 4 keys:\n\n{\n  \"industry_segment\": \"[5 words max - what they sell to healthcare. Examples: AI scribe for clinics, cybersecurity for hospitals, cloud HIMS platform, telehealth SaaS vendor]\",\n  \"company_size\": \"[one of: SME / Mid / Enterprise / Unknown. SME = startup, single product. Mid = regional, multi-product. Enterprise = global, listed]\",\n  \"product_descriptor\": \"[core product or service in max 6 words targeting healthcare clients]\",\n  \"hia_batch\": \"Vendor to HIA clients\"\n}\n\nOutput: valid JSON only. No markdown. No explanation.`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24384,
        2080
      ],
      "id": "3407d839-0ca4-4e2a-90cb-f79f007a7875",
      "name": "Prep Vendor Enrichment1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24144,
        2080
      ],
      "id": "7c2b6652-0757-4e63-b2ab-e23c12cfd00f",
      "name": "OpenRouter - Vendor Enrichment1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = ($json.choices[0].message.content || '').trim();\nlet data;\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {\n  data = {};\n}\nreturn [{ json: {\n  industry_segment: data.industry_segment || '',\n  hia_batch: 'Vendor to HIA clients',\n  company_size: data.company_size || '',\n  product_descriptor: data.product_descriptor || '',\n  compliance_lead: 'CS/DS vendor readiness',\n  hia_relevant: 'VENDOR'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23904,
        2080
      ],
      "id": "d61684f7-796f-4220-81d9-75690f72483a",
      "name": "Parse Vendor Enrichment1"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($('Crawl4AI - Scrape').item.json.final_url || $('Check URL Against All').item.json.best_url || '').trim();\n\nconst cleaned = raw\n  .replace(/[`'\"\\[\\]()]/g, '')\n  .replace(/\\s+/g, '')\n  .trim();\n\nlet domain = cleaned\n  .replace(/^https?:\\/\\//i, '')\n  .replace(/^www\\./i, '')\n  .split('/')[0]\n  .split('?')[0]\n  .split('#')[0]\n  .trim();\n\nif (!domain || !domain.includes('.')) {\n  domain = '';\n}\n\nreturn [{ json: { clean_domain: domain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24224,
        2512
      ],
      "id": "1d811006-9b95-4ebd-9877-6034f0878c7c",
      "name": "Prep Anymail Domain"
    },
    {
      "parameters": {
        "jsCode": "function toHomepageUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return `${url.protocol}//${url.hostname}/`;\n  } catch {\n    return raw;\n  }\n}\n\nconst picked = String($json.choices?.[0]?.message?.content || '').trim();\nconst lower = picked.toLowerCase();\n\nif (lower === 'duplicate' || lower === 'none' || !picked) {\n  return [{ json: { best_url: lower || 'none' } }];\n}\n\nconst tokens = picked.split(/\\s+/).map(t => t.trim()).filter(Boolean);\nconst stripEdge = (s) => String(s || '').replace(/^[`'\"<({\\[]+/, '').replace(/[`'\">)}\\],.]+$/, '');\n\nlet normalized = '';\n\nconst urlToken = tokens.find(t => /^https?:\\/\\//i.test(stripEdge(t)));\nif (urlToken) {\n  normalized = stripEdge(urlToken);\n} else {\n  const domainToken = tokens.find(t => {\n    const v = stripEdge(t).replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '');\n    return v.includes('.') && /^[a-z0-9.-]+(?:\\/[^^\\s]*)?$/i.test(v);\n  });\n  if (domainToken) {\n    normalized = 'https://' + stripEdge(domainToken).replace(/^https?:\\/\\//i, '');\n  }\n}\n\nif (!normalized) {\n  return [{ json: { best_url: 'none' } }];\n}\n\nconst homepageUrl = toHomepageUrl(normalized);\nconst allUrls = $('Prep URL Data').item.json.all_urls || [];\nconst pickedHomepage = homepageUrl.replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').replace(/\\/+$/, '').toLowerCase();\n\nconst isDuplicate = allUrls.some(function(u) {\n  const existing = toHomepageUrl(u).replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').replace(/\\/+$/, '').toLowerCase();\n  return existing === pickedHomepage;\n});\n\nif (isDuplicate) {\n  return [{ json: { best_url: 'duplicate' } }];\n}\n\nreturn [{ json: { best_url: homepageUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27824,
        2512
      ],
      "id": "27312d17-5c2a-4466-8a6f-761d058ff998",
      "name": "Check URL Against All"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hunter.io/v2/domain-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "30f1b25815a3bbf659f0db204795dc95fecac58b"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('Prep Anymail Domain').item.json.clean_domain }}"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "type",
              "value": "personal"
            },
            {
              "name": "department",
              "value": "executive,it,management,finance,operations"
            },
            {
              "name": "seniority",
              "value": "senior,executive"
            },
            {
              "name": "required_field",
              "value": "full_name"
            },
            {
              "name": "company",
              "value": "={{ $('Prep Anymail Domain').item.json.clean_domain ? $('Parse Parent Company').item.json.parent_company : $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ef208871-8b6d-4a67-a4cb-c59fa6401b07",
      "name": "Hunter - Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23264,
        2992
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const emails = ($json?.data?.emails || []);\n// Priority: executive > management > it > finance > operations\nconst priority = ['executive', 'management', 'it', 'finance', 'operations'];\nlet best = null;\nfor (const dept of priority) {\n  best = emails.find(e => e.department === dept && e.type === 'personal');\n  if (best) break;\n}\nif (!best) best = emails.find(e => e.type === 'personal');\nif (!best) best = emails[0];\nif (!best) return [{ json: { first_name: '', role: '', email: '', linkedin_url: '', source: 'hunter' } }];\nreturn [{ json: {\n  first_name: best.first_name || '',\n  role: best.position || '',\n  email: best.value || '',\n  linkedin_url: best.linkedin || '',\n  source: 'hunter'\n} }];"
      },
      "id": "601985e9-7b46-4c34-b9a0-1d8fba4109e5",
      "name": "Parse Hunter Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23024,
        2992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-still-1",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "cond-still-2",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d48604da-666e-49a2-b6ba-c89f028c634d",
      "name": "IF Still No Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -22784,
        2992
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"no contact found\"}",
        "options": {}
      },
      "id": "9f023ec1-dce4-440c-919b-925b0db86cb3",
      "name": "Status - no contact found (stop)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22544,
        3216
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function toHomepageUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return `${url.protocol}//${url.hostname}/`;\n  } catch {\n    return raw;\n  }\n}\n\nconst enrichment = $('Normalize Enrichment').item.json;\nconst contact = $('Parse Contact').item.json;\nconst cleanName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nconst homepageName = ($('Parse Parent Company').item.json.company_homepage_name || cleanName).trim();\nconst parentCompany = ($('Parse Parent Company').item.json.parent_company || homepageName).trim();\nconst normalizedUrl = toHomepageUrl(($('Crawl4AI - Scrape').item.json.final_url || $('Check URL Against All').item.json.best_url || '').trim());\nconst scrapeContent = $('Crawl4AI - Scrape').item.json.website_content || '';\nconst hiaGate = ($('OpenRouter - HIA Gate').item.json.choices[0].message.content || '').trim();\nconst trigger = $('Loop Over Items').item.json;\nconst serperResults = JSON.stringify(($('Serper - Search').item.json.organic || []).slice(0,3).map(r => (r.title || '') + ' | ' + (r.link || '')).join('; '));\nconst companyLinkedIn = String($('Validate Company LinkedIn').item.json.company_linkedin_url || '').trim();\nreturn [{ json: {\n  company_name:       trigger.company_name,\n  company_homepage_name: homepageName,\n  parent_company:     parentCompany,\n  company_linkedin_url: companyLinkedIn,\n  serper_results:     serperResults,\n  best_url:           normalizedUrl,\n  url_validated:      normalizedUrl,\n  website_content:    scrapeContent,\n  hia_relevant:       hiaGate,\n  industry_segment:   enrichment.industry_segment || '',\n  hia_batch:          enrichment.hia_batch || '',\n  company_size:       enrichment.company_size || '',\n  product_descriptor: enrichment.product_descriptor || '',\n  compliance_lead:    enrichment.compliance_lead || '',\n  first_name:         contact.first_name || '',\n  role:               contact.role || '',\n  email:              contact.email || '',\n  linkedin_url:       contact.linkedin_url || '',\n  contact_source:     contact.source || 'anymail',\n  status: 'processing'\n}}];"
      },
      "id": "ed68a87b-2a95-4522-8b2f-57f7237b8ca7",
      "name": "Prep Partial Anymail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23264,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "function toHomepageUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return `${url.protocol}//${url.hostname}/`;\n  } catch {\n    return raw;\n  }\n}\n\nconst enrichment = $('Normalize Enrichment').item.json;\nconst contact = $json;\nconst cleanName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nconst homepageName = ($('Parse Parent Company').item.json.company_homepage_name || cleanName).trim();\nconst parentCompany = ($('Parse Parent Company').item.json.parent_company || homepageName).trim();\nconst normalizedUrl = toHomepageUrl(($('Crawl4AI - Scrape').item.json.final_url || $('Check URL Against All').item.json.best_url || '').trim());\nconst scrapeContent = $('Crawl4AI - Scrape').item.json.website_content || '';\nconst hiaGate = ($('OpenRouter - HIA Gate').item.json.choices[0].message.content || '').trim();\nconst trigger = $('Loop Over Items').item.json;\nconst serperResults = JSON.stringify(($('Serper - Search').item.json.organic || []).slice(0,3).map(r => (r.title || '') + ' | ' + (r.link || '')).join('; '));\nconst companyLinkedIn = String($('Validate Company LinkedIn').item.json.company_linkedin_url || '').trim();\nreturn [{ json: {\n  company_name:       trigger.company_name,\n  company_homepage_name: homepageName,\n  parent_company:     parentCompany,\n  company_linkedin_url: companyLinkedIn,\n  serper_results:     serperResults,\n  best_url:           normalizedUrl,\n  url_validated:      normalizedUrl,\n  website_content:    scrapeContent,\n  hia_relevant:       hiaGate,\n  industry_segment:   enrichment.industry_segment || '',\n  hia_batch:          enrichment.hia_batch || '',\n  company_size:       enrichment.company_size || '',\n  product_descriptor: enrichment.product_descriptor || '',\n  compliance_lead:    enrichment.compliance_lead || '',\n  first_name:         contact.first_name || '',\n  role:               contact.role || '',\n  email:              contact.email || '',\n  linkedin_url:       contact.linkedin_url || '',\n  contact_source:     contact.source || 'hunter',\n  status: 'processing'\n}}];"
      },
      "id": "75d511b2-3cf4-4786-9dc9-074a5bab1ad1",
      "name": "Prep Partial Hunter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22544,
        2992
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ company_name: $json.company_name, company_homepage_name: $json.company_homepage_name, parent_company: $json.parent_company, company_linkedin_url: $json.company_linkedin_url, serper_results: $json.serper_results, best_url: $json.best_url, url_validated: $json.url_validated, website_content: $json.website_content, hia_relevant: $json.hia_relevant, industry_segment: $json.industry_segment, hia_batch: $json.hia_batch, company_size: $json.company_size, product_descriptor: $json.product_descriptor, compliance_lead: $json.compliance_lead, first_name: $json.first_name, role: $json.role, email: $json.email, linkedin_url: $json.linkedin_url, contact_source: $json.contact_source, status: $json.status }) }}",
        "options": {}
      },
      "id": "6c7b4c7e-c7cd-417c-8790-d7e9627fd885",
      "name": "Write Partial & Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22064,
        2752
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24224,
        2512
      ],
      "id": "eaf29c39-825c-4e77-8276-c3b7be19659e",
      "name": "Normalize Enrichment"
    },
    {
      "name": "HTTP Status Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "http-status-check-001",
      "position": [
        -27104,
        2512
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.best_url }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "name": "Parse HTTP Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "parse-http-status-001",
      "position": [
        -26864,
        2512
      ],
      "parameters": {
        "jsCode": "const best_url = $('IF URL None').item.json.best_url;\nconst statusCode = $json.statusCode;\nconst hasNetworkError = !!$json.error || statusCode === undefined;\n\n// Network error (connection refused, DNS fail, timeout) -> unreachable\nif (hasNetworkError) {\n  return [{ json: { best_url, _unreachable: true, http_reason: 'connection_error' } }];\n}\n\n// 5xx server errors -> unreachable\nif (statusCode >= 500) {\n  return [{ json: { best_url, _unreachable: true, http_reason: 'server_error_' + statusCode } }];\n}\n\n// 403/429 = site is up but blocking bots -> proceed\n// 2xx/3xx (n8n follows redirects to final URL) -> proceed\n// 404 = specific page missing but domain exists -> proceed (URL validate will judge)\nreturn [{ json: { best_url, _unreachable: false, http_status: statusCode } }];"
      }
    },
    {
      "name": "IF Unreachable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "id": "if-unreachable-001",
      "position": [
        -26624,
        2512
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-unreach-1",
              "leftValue": "={{ $json._unreachable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Status - url unreachable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "status-url-unreachable-001",
      "position": [
        -26624,
        2272
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"url unreachable\"}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cutoff = new Date(Date.now() - 10 * 60 * 1000);\nconst pad = n => String(n).padStart(2, '0');\nconst formatted = `${cutoff.getUTCFullYear()}-${pad(cutoff.getUTCMonth()+1)}-${pad(cutoff.getUTCDate())} ${pad(cutoff.getUTCHours())}:${pad(cutoff.getUTCMinutes())}:${pad(cutoff.getUTCSeconds())}`;\nreturn [{ json: { cutoff: formatted } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30344,
        2512
      ],
      "id": "cleanup-stuck-processing-001",
      "name": "Cleanup Stuck Processing"
    },
    {
      "id": "get-stuck-leads-001",
      "name": "GET Stuck Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30104,
        2752
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9?where=(status,eq,processing)~and(UpdatedAt,lt,{{ $json.cutoff }})&fields=Id&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "build-bulk-reset-001",
      "name": "Build Bulk Reset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29864,
        2752
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const list = ($json.list || []);\nif (list.length === 0) {\n  return [{ json: { _skip: true, cleanup_count: 0 } }];\n}\nconst payload = list.map(r => ({ Id: r.Id, status: 'pending' }));\nreturn [{ json: { _skip: false, cleanup_count: list.length, payload } }];"
      }
    },
    {
      "id": "if-has-stuck-001",
      "name": "IF Has Stuck",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -29624,
        2752
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-stuck-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "patch-bulk-reset-001",
      "name": "PATCH Bulk Reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29384,
        2752
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "PATCH",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/bulk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9?where=(status,eq,pending)&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30104,
        2512
      ],
      "id": "get-pending-ids-001",
      "name": "Get Pending IDs"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const list = $json.list || [];\nif (list.length === 0) {\n  return [{ json: { _skip: true, count: 0 } }];\n}\nreturn list.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29884,
        2512
      ],
      "id": "parse-pending-ids-001",
      "name": "Parse Pending IDs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-nopending-1",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -29664,
        2512
      ],
      "id": "if-no-pending-001",
      "name": "IF No Pending Leads"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -29444,
        2732
      ],
      "id": "no-pending-stop-001",
      "name": "No Pending - Stop"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -29444,
        2512
      ],
      "id": "loop-over-items-001",
      "name": "Loop Over Items"
    },
    {
      "id": "loop-done-noop-001",
      "name": "Loop Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -29444,
        2272
      ],
      "parameters": {}
    },
    {
      "id": "prep-outreach-ctx-001",
      "name": "Prep Outreach Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22300,
        2752
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all();"
      }
    },
    {
      "id": "prep-pain-logic-001",
      "name": "Prep Pain Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20384,
        2752
      ],
      "parameters": {
        "jsCode": "const d = $('Prep Outreach Context').item.json;\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: `Company: ${d.company_name_clean}\nIndustry: ${d.industry_segment}\nHIA batch: ${d.hia_batch}\nCompliance lead: ${d.compliance_lead}\nCompany size: ${d.company_size}\nRole: ${d.role}\nHIA relevant: ${d.hia_relevant} (YES = healthcare provider or healthcare group parent, VENDOR = tech/SaaS vendor selling to healthcare)\n\nDetermine:\n1. vendor_pain: The specific compliance or operational pain this company faces in the context of Singapore HIA 2027. Max 15 words.\n   - YES (healthcare provider / healthcare group): their internal compliance challenge\n   - VENDOR: the pain their healthcare clients face that creates demand for their product\n\n2. grant_eligibility: Most applicable Singapore HIA co-funding grants. Must be exactly one of:\n   NCG + CSA CISOaaS + PSG \u2014 SME GP clinic, dental, pharmacy, nursing home, dialysis, lab, radiology\n   NCG + CSA CISOaaS \u2014 SME HIA licensee where PSG eligibility is uncertain\n   CSA CISOaaS + PSG \u2014 VENDOR company whose healthcare SME clients qualify\n   NCSS TSS \u2014 Community care or social service organisation that is an NCSS member\n   NCG only \u2014 Enterprise or large hospital\n   Verify eligibility \u2014 Unknown, niche, or complex eligibility\n\n3. compliance_trigger: A short phrase, max 12 words, describing the most relevant reason this company should care now.\n   Examples:\n   - clinic clients need CSDS evidence for renewal\n   - audit evidence needs central ownership\n   - healthcare buyers now ask vendor readiness questions\n   - HIA batch timing raises execution pressure\n\n4. evidence_gap: A short phrase, max 8 words, describing the likely operational weakness.\n   Examples:\n   - evidence sits across teams\n   - no clear internal owner\n   - audit prep stays manual\n   - security work gets pushed down the list\n\n5. executive_angle: A short phrase, max 10 words, describing the most relevant board / leadership lens.\n   Examples:\n   - avoid last-minute compliance scramble\n   - reduce internal lift before renewal\n   - protect buyer confidence in sales cycles\n   - clarify ownership before deadline pressure\n\n6. cta_style:\n   If role contains CEO, founder, managing director, GM, COO, CFO:\n   use one of:\n   - Worth sharing a one-page view?\n   - Is this already owned internally?\n   - Relevant now, or too early?\n   - Open to a short note on what this usually involves?\n\n   If role contains CIO, CTO, CISO, Head of IT, IT Director:\n   use one of:\n   - Want me to send it across?\n   - Open to a short note on the readiness path?\n   - Worth sharing the checklist?\n   - Relevant to look at now?\n\n   Otherwise:\n   use one of:\n   - Worth a short note?\n   - Relevant now, or too early?\n   - Open to a one-page summary?\n\nGrant rules:\n- SME GP / dental / pharmacy / nursing home / lab / radiology \u2192 NCG + CSA CISOaaS + PSG\n- VENDOR (tech selling to healthcare clients) \u2192 CSA CISOaaS + PSG\n- Social service org / community care / eldercare under NCSS \u2192 NCSS TSS\n- Enterprise hospital system / listed company \u2192 NCG only\n- Unknown or niche \u2192 Verify eligibility\n\nOutput JSON: {\"vendor_pain\":\"\",\"grant_eligibility\":\"\",\"compliance_trigger\":\"\",\"evidence_gap\":\"\",\"executive_angle\":\"\",\"cta_style\":\"\"}\nOutput: valid JSON only. No markdown.`\n  }]\n};\nreturn [{ json: { requestBody: body, _ctx: d } }];"
      }
    },
    {
      "id": "openrouter-pain-logic-001",
      "name": "OpenRouter - Pain Logic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20144,
        2752
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      }
    },
    {
      "id": "parse-pain-logic-001",
      "name": "Parse Pain Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19904,
        2752
      ],
      "parameters": {
        "jsCode": "const response = (($json.choices || [])[0] || {}).message?.content || '';\nlet data = {};\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {}\nconst prev = $('Prep Pain Logic').item.json;\nreturn [{ json: {\n  _ctx: prev._ctx,\n  vendor_pain: data.vendor_pain || '',\n  grant_eligibility: data.grant_eligibility || 'Verify eligibility',\n  compliance_trigger: data.compliance_trigger || '',\n  evidence_gap: data.evidence_gap || '',\n  executive_angle: data.executive_angle || '',\n  cta_style: data.cta_style || ''\n} }];"
      }
    },
    {
      "id": "prep-email-gen-001",
      "name": "Prep Email Gen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19664,
        2752
      ],
      "parameters": {
        "jsCode": "const d = $json._ctx;\nconst pain = $json;\nconst firstName = d.first_name || 'there';\nconst rawContent = (d.website_content || '');\nconst cleanLines = rawContent.split('\\n').filter(line => {\n  const l = line.trim();\n  return l.length > 40 && !l.startsWith('![') && !l.startsWith('* [') && !l.startsWith('*   [') && !l.startsWith('- [') && !l.includes('](http') && !l.startsWith('#');\n}).join(' ');\nconst websiteSummary = cleanLines.substring(0, 600) || (d.serper_results || '').substring(0, 600);\nconst techRoles = ['cto','ciso','it director','technical','engineer','developer','architect','infosec','head of it','vp engineering','chief information'];\nconst isTechnical = techRoles.some(t => (d.role || '').toLowerCase().includes(t));\nconst email1cta = isTechnical\n  ? 'Want me to send it across?'\n  : 'Could you forward this to your IT, security, or compliance team?';\nconst body = {\n  model: 'anthropic/claude-sonnet-4.6',\n  temperature: 0.4,\n  messages: [{\n    role: 'user',\n    content: `You are a cold email expert. Write 4 personalized outreach emails on behalf of Sasikumar, Account Executive at RAYN Secure. RAYN Secure helps Singapore healthcare organisations and their vendors attain CSDS Essentials certification and comply with HIA 2027.\\n\\n--- DETAILS\\n- First name: ${firstName}\\n- Company: ${d.company_name_clean}\\n- Industry: ${d.industry_segment || 'N/A'}\\n- HIA batch: ${d.hia_batch || 'N/A'}\\n- Product/service: ${d.product_descriptor || 'N/A'}\\n- Role: ${d.role || 'N/A'}\\n- Pain point: ${pain.vendor_pain || 'N/A'}\\n- Compliance lead: ${d.compliance_lead || 'N/A'}\\n- Grant eligibility: ${pain.grant_eligibility || 'N/A'}\\n- Grant context: NCG = MOH grant (40% HIMS costs), CSA CISOaaS = CSA/IMDA grant (70% of CS/DS Essentials consultancy), PSG = EnterpriseSG (50% cybersecurity tools up to $30k), NCSS TSS = NCSS scheme for community care orgs\\n- Website summary: ${websiteSummary}\\n\\n# EMAIL SPECIFICATIONS\\n\\n## Email 1 — TIMELINE HOOK\\n- Subject: <first_name>, days until HIA deadline\\n- 75-100 words\\n- Open with HIA deadline → Empathy → Proof: grant funding → Low-ask CTA\\n\\n## Email 2 — ROLE-SPECIFIC PAIN\\n- 60-90 words\\n- Role-aware pain → Pressure → Proof: grant % → CTA\\n\\n## Email 3 — SOCIAL PROOF\\n- 70-100 words\\n- Named reference → Acknowledge → Proof: outcome → CTA\\n\\n## Email 4 — LOW-FRICTION\\n- 40-60 words\\n- Direct, yes/no ask\\n\\n# ROLE-AWARE\\n- Tech (CISO/IT): CSDS controls\\n- Exec: budget/timeline\\n- Finance: ROI/grant\\n- Ops: continuity/license\\n\\nNamed proof examples by sector:\\n- Eldercare/social service: Sree Narayana Mission, Society for the Aged Sick, Caring Fleet, CFS Centre for Seniors\\n- Clinic/hospital/AI vendor: Ren Ci Hospital, Tsao Foundation\\n\\n--- RULES\\n1. 60-80 words per email body — count carefully\\n2. Match the exact paragraph structure of the examples\\n3. Use arrows → for lists (Email 2 and Email 4)\\n4. Email 1 CTA: \"${email1cta}\"\\n5. Email 2 subject locked to: \"Up to 70% co-funded for ${d.company_name_clean}'s HIA compliance\"\\n6. Email 4 subject locked to: \"Should I close the loop, ${firstName}?\"\\n7. Do NOT use sycophantic openers\\n8. Do NOT add adjectives: rapidly, seamlessly, comprehensive, robust\\n9. Sign off every email: Best, — no variation, no titles\\n\\nOutput format: JSON with exactly 8 keys — subject_line1, email_body1, subject_line2, email_body2, subject_line3, email_body3, subject_line4, email_body4\\nOutput: valid JSON only. No markdown.`\n  }]\n};\nreturn [{ json: { requestBody: body, _ctx: d, _pain: pain } }];"
      }
    },
    {
      "id": "openrouter-email-gen-001",
      "name": "OpenRouter - Email Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -19424,
        2752
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": false,
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      }
    },
    {
      "id": "parse-email-gen-001",
      "name": "Parse Email Gen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19184,
        2752
      ],
      "parameters": {
        "jsCode": "const response = (($json.choices || [])[0] || {}).message?.content || '';\nlet data = {};\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {}\nconst prev = $('Prep Email Gen').item.json;\nconst pain = prev._pain || {};\nreturn [{ json: {\n  status:            'enriched',\n  vendor_pain:       pain.vendor_pain || '',\n  grant_eligibility: pain.grant_eligibility || '',\n  compliance_trigger: pain.compliance_trigger || '',\n  evidence_gap:      pain.evidence_gap || '',\n  executive_angle:   pain.executive_angle || '',\n  cta_style:         pain.cta_style || '',\n  subject_line_1: data.subject_line1 || '',\n  email_body_1:   data.email_body1 || '',\n  subject_line_2: data.subject_line2 || '',\n  email_body_2:   data.email_body2 || '',\n  subject_line_3: data.subject_line3 || '',\n  email_body_3:   data.email_body3 || '',\n  subject_line_4: data.subject_line4 || '',\n  email_body_4:   data.email_body4 || ''\n} }];"
      }
    },
    {
      "id": "prep-write-final-001",
      "name": "Prep Write Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18944,
        2752
      ],
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{ json: {\n  status:            d.status,\n  vendor_pain:       d.vendor_pain,\n  grant_eligibility: d.grant_eligibility,\n  compliance_trigger: d.compliance_trigger,\n  evidence_gap:      d.evidence_gap,\n  executive_angle:   d.executive_angle,\n  cta_style:         d.cta_style,\n  subject_line_1: d.subject_line_1,\n  email_body_1:   d.email_body_1,\n  subject_line_2: d.subject_line_2,\n  email_body_2:   d.email_body_2,\n  subject_line_3: d.subject_line_3,\n  email_body_3:   d.email_body_3,\n  subject_line_4: d.subject_line_4,\n  email_body_4:   d.email_body_4\n} }];"
      }
    },
    {
      "id": "write-final-001",
      "name": "Write Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -18704,
        2752
      ],
      "continueOnFail": false,
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {},
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "prep-bulk-processing",
      "name": "Prep Bulk Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29444,
        2352
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst payload = items.map(i => ({ Id: i.json.Id, status: 'processing' }));\nreturn [{ json: { payload } }];"
      }
    },
    {
      "id": "patch-all-processing",
      "name": "PATCH All Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29224,
        2352
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/bulk/noco/pb7f1zou786xyqc/mey3zgihq7o4at9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {},
        "jsonBody": "={{ JSON.stringify($json.payload) }}"
      }
    },
    {
      "id": "restore-items",
      "name": "Restore Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29004,
        2352
      ],
      "parameters": {
        "jsCode": "return $('Parse Pending IDs').all();"
      }
    },
    {
      "id": "prep-parent-company-001",
      "name": "Prep Parent Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23504,
        3432
      ],
      "parameters": {
        "jsCode": "const websiteContent = ($('Crawl4AI - Scrape').item.json.website_content || '').substring(0, 8000);\nconst companyName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0,\n  messages: [{\n    role: 'user',\n    content: `Website content: ${websiteContent}\\nCompany name: ${companyName}\\n\\nThis is a Singapore healthcare company, clinic, medical group, or healthcare vendor that may belong to a parent brand or medical group.\\nReturn a JSON object with exactly these two keys:\\n{\\\"company_homepage_name\\\":\\\"\\\",\\\"parent_company\\\":\\\"\\\"}\\n\\nDefinitions:\\n- company_homepage_name = the clean homepage/company name for this specific operator or brand. Remove branch, estate, or location suffixes like Bishan, Bedok, Hougang, Bukit Merah, etc. Keep the operating brand shown on the site.\\n- parent_company = a distinct higher-level parent/group/holding company only if clearly different from company_homepage_name. If no distinct parent exists, return company_homepage_name again.\\n\\nRules:\\n- Prefer the Singapore operating brand shown on the official site\\n- Do not return a specific clinic branch/location name if a cleaner homepage brand is evident\\n- Do not invent a parent company\\n- If the company itself is the top-level brand, set parent_company equal to company_homepage_name\\n\\nExamples:\\n- HMI OneCare Clinic Bishan on onecaremedical.com.sg → {\\\"company_homepage_name\\\":\\\"HMI OneCare Clinic\\\",\\\"parent_company\\\":\\\"HMI OneCare Clinic\\\"}\\n- 1 Bishan Medical Clinic on 1medical.sg → {\\\"company_homepage_name\\\":\\\"1 Medical\\\",\\\"parent_company\\\":\\\"1 Medical\\\"}\\n- YSL Bedok Clinic & Surgery on qualitashealth.com.sg → {\\\"company_homepage_name\\\":\\\"YSL Clinic & Surgery\\\",\\\"parent_company\\\":\\\"Qualitas Health\\\"}\\n- Raffles Medical Clinic → {\\\"company_homepage_name\\\":\\\"Raffles Medical\\\",\\\"parent_company\\\":\\\"Raffles Medical\\\"}\\n\\nOutput: valid JSON only. No markdown.`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      }
    },
    {
      "id": "openrouter-parent-company-001",
      "name": "OpenRouter - Parent Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23264,
        3432
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "parse-parent-company-001",
      "name": "Parse Parent Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23024,
        3432
      ],
      "parameters": {
        "jsCode": "const response = ($json.choices?.[0]?.message?.content || '').trim();\nconst fallbackName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nlet data = {};\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {}\nconst companyHomepageName = String(data.company_homepage_name || fallbackName).trim() || fallbackName;\nconst parentCompany = String(data.parent_company || companyHomepageName).trim() || companyHomepageName;\nreturn [{ json: { company_homepage_name: companyHomepageName, parent_company: parentCompany } }];"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-serper-1",
              "leftValue": "={{ ($json.organic || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -28784,
        2512
      ],
      "id": "23bbbeff-ed43-42a2-b15d-622435f713bc",
      "name": "IF Serper Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"serper failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28544,
        2736
      ],
      "id": "e52665d1-07bf-480b-b5fa-1d6b8890245d",
      "name": "Status - serper failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function toHomepageUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  try {\n    const url = raw.startsWith('http') ? new URL(raw) : new URL(`https://${raw}`);\n    return `${url.protocol}//${url.hostname}/`;\n  } catch {\n    return raw;\n  }\n}\n\nconst enrichment = $('Normalize Enrichment').item.json;\nconst cleanName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nconst homepageName = ($('Parse Parent Company').item.json.company_homepage_name || cleanName).trim();\nconst parentCompany = ($('Parse Parent Company').item.json.parent_company || homepageName).trim();\nconst normalizedUrl = toHomepageUrl(($('Crawl4AI - Scrape').item.json.final_url || $('Check URL Against All').item.json.best_url || '').trim());\nconst scrapeContent = $('Crawl4AI - Scrape').item.json.website_content || '';\nconst hiaGate = ($('OpenRouter - HIA Gate').item.json.choices[0].message.content || '').trim();\nconst trigger = $('Loop Over Items').item.json;\nconst serperResults = JSON.stringify(($('Serper - Search').item.json.organic || []).slice(0,3).map(r => (r.title || '') + ' | ' + (r.link || '')).join('; '));\nconst companyLinkedIn = String($('Validate Company LinkedIn').item.json.company_linkedin_url || '').trim();\nreturn [{ json: {\n  company_name:       trigger.company_name,\n  company_homepage_name: homepageName,\n  parent_company:     parentCompany,\n  company_linkedin_url: companyLinkedIn,\n  serper_results:     serperResults,\n  best_url:           normalizedUrl,\n  url_validated:      normalizedUrl,\n  website_content:    scrapeContent,\n  hia_relevant:       hiaGate,\n  industry_segment:   enrichment.industry_segment || '',\n  hia_batch:          enrichment.hia_batch || '',\n  company_size:       enrichment.company_size || '',\n  product_descriptor: enrichment.product_descriptor || '',\n  compliance_lead:    enrichment.compliance_lead || '',\n  first_name:         '',\n  role:               '',\n  email:              '',\n  linkedin_url:       '',\n  contact_source:     'none',\n  status:             'no contact found'\n}}];"
      },
      "id": "99ce32e0-3e30-4397-9b98-4bf85ed8a06a",
      "name": "Prep Partial No Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22544,
        3216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "worth-url",
              "leftValue": "={{ String($json.url_validated || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "worth-company-linkedin",
              "leftValue": "={{ String($json.company_linkedin_url || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4afbd845-95a8-43a4-9a27-afb0ae855873",
      "name": "IF Worth Writing Partial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -22304,
        3216
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ company_name: $json.company_name, company_homepage_name: $json.company_homepage_name, parent_company: $json.parent_company, company_linkedin_url: $json.company_linkedin_url, serper_results: $json.serper_results, best_url: $json.best_url, url_validated: $json.url_validated, website_content: $json.website_content, hia_relevant: $json.hia_relevant, industry_segment: $json.industry_segment, hia_batch: $json.hia_batch, company_size: $json.company_size, product_descriptor: $json.product_descriptor, compliance_lead: $json.compliance_lead, first_name: '', role: '', email: '', linkedin_url: '', contact_source: 'none', status: 'no contact found' }) }}",
        "options": {}
      },
      "id": "87ec47b1-5d56-4d54-a96b-90c43dca80cd",
      "name": "Write Partial No Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22064,
        3136
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cleanup Stuck Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Cleanup Stuck Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Clean Name": {
      "main": [
        [
          {
            "node": "Serper - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Clean Failed": {
      "main": [
        [
          {
            "node": "Status - clean failed",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Serper - Search": {
      "main": [
        [
          {
            "node": "IF Serper Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URL Data": {
      "main": [
        [
          {
            "node": "OpenRouter - URL Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - URL Dedup": {
      "main": [
        [
          {
            "node": "Check URL Against All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF URL Duplicate": {
      "main": [
        [
          {
            "node": "Status - url duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF URL None",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF URL None": {
      "main": [
        [
          {
            "node": "Status - no url found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - URL Validate": {
      "main": [
        [
          {
            "node": "IF URL Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF URL Rejected": {
      "main": [
        [
          {
            "node": "Status - url rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crawl4AI - Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Scrape Failed": {
      "main": [
        [
          {
            "node": "Status - scrape failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep HIA Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep HIA Gate": {
      "main": [
        [
          {
            "node": "OpenRouter - HIA Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - HIA Gate": {
      "main": [
        [
          {
            "node": "IF Not HIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not HIA": {
      "main": [
        [
          {
            "node": "Status - not HIA relevant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Is Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Vendor": {
      "main": [
        [
          {
            "node": "Set Vendor Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Vendor Fields": {
      "main": [
        [
          {
            "node": "Prep Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Enrichment": {
      "main": [
        [
          {
            "node": "OpenRouter - Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Enrichment": {
      "main": [
        [
          {
            "node": "Parse Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enrichment": {
      "main": [
        [
          {
            "node": "IF Enrichment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrichment Failed": {
      "main": [
        [
          {
            "node": "Status - enrichment failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anymail - Contact": {
      "main": [
        [
          {
            "node": "Parse Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact": {
      "main": [
        [
          {
            "node": "IF No Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Contact": {
      "main": [
        [
          {
            "node": "Hunter - Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Partial Anymail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "OpenRouter - Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "Parse Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "Normalize Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Anymail Domain": {
      "main": [
        [
          {
            "node": "Anymail - Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL Against All": {
      "main": [
        [
          {
            "node": "IF URL Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter - Contact": {
      "main": [
        [
          {
            "node": "Parse Hunter Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Contact": {
      "main": [
        [
          {
            "node": "IF Still No Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Still No Contact": {
      "main": [
        [
          {
            "node": "Prep Partial No Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Partial Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Partial Anymail": {
      "main": [
        [
          {
            "node": "Prep Outreach Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Partial Hunter": {
      "main": [
        [
          {
            "node": "Prep Outreach Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Enrichment": {
      "main": [
        [
          {
            "node": "Prep Parent Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Status Check": {
      "main": [
        [
          {
            "node": "Parse HTTP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTTP Status": {
      "main": [
        [
          {
            "node": "IF Unreachable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Unreachable": {
      "main": [
        [
          {
            "node": "Status - url unreachable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter - URL Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Stuck Processing": {
      "main": [
        [
          {
            "node": "GET Stuck Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Stuck Leads": {
      "main": [
        [
          {
            "node": "Build Bulk Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Bulk Reset": {
      "main": [
        [
          {
            "node": "IF Has Stuck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Stuck": {
      "main": [
        [
          {
            "node": "Get Pending IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PATCH Bulk Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Bulk Reset": {
      "main": [
        [
          {
            "node": "Get Pending IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending IDs": {
      "main": [
        [
          {
            "node": "Parse Pending IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pending IDs": {
      "main": [
        [
          {
            "node": "IF No Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Pending Leads": {
      "main": [
        [
          {
            "node": "No Pending - Stop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Bulk Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter - Clean Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - clean failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - url duplicate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - no url found": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - url unreachable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - url rejected": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - scrape failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - not HIA relevant": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - no contact found (stop)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - enrichment failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Partial & Pending": {
      "main": [
        [
          {
            "node": "Prep Pain Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Pain Logic": {
      "main": [
        [
          {
            "node": "OpenRouter - Pain Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Pain Logic": {
      "main": [
        [
          {
            "node": "Parse Pain Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pain Logic": {
      "main": [
        [
          {
            "node": "Prep Email Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Email Gen": {
      "main": [
        [
          {
            "node": "OpenRouter - Email Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Email Gen": {
      "main": [
        [
          {
            "node": "Parse Email Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Gen": {
      "main": [
        [
          {
            "node": "Prep Write Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Write Final": {
      "main": [
        [
          {
            "node": "Write Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Final": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Outreach Context": {
      "main": [
        [
          {
            "node": "Write Partial & Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginate Read Column E": {
      "main": [
        [
          {
            "node": "Prep URL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Bulk Processing": {
      "main": [
        [
          {
            "node": "PATCH All Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH All Processing": {
      "main": [
        [
          {
            "node": "Restore Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Parent Company": {
      "main": [
        [
          {
            "node": "OpenRouter - Parent Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Parent Company": {
      "main": [
        [
          {
            "node": "Parse Parent Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parent Company": {
      "main": [
        [
          {
            "node": "Serper - Company LinkedIn Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper - Company LinkedIn Search": {
      "main": [
        [
          {
            "node": "Validate Company LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Company LinkedIn": {
      "main": [
        [
          {
            "node": "Prep Anymail Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl4AI - Scrape": {
      "main": [
        [
          {
            "node": "IF Scrape Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Serper Failed": {
      "main": [
        [
          {
            "node": "Status - serper failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paginate Read Column E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - serper failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Partial No Contact": {
      "main": [
        [
          {
            "node": "IF Worth Writing Partial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Worth Writing Partial": {
      "main": [
        [
          {
            "node": "Write Partial No Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status - no contact found (stop)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Partial No Contact": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6c87d3ca-d1b2-47c1-b3b7-93eda75198ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b78381ec16e7beefcb107e875e8eea12c33a1dbcd8fb6b17e3970e1a503cab3e"
  },
  "id": "dxdjHo8QCPLoTGPa",
  "tags": []
}
