wf-latest.json
{
  "name": "RAYN Lead Enrichment - NocoDB",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -30464,
        2512
      ],
      "id": "a3f8e87b-0e9c-4696-85c2-51aac2d7c4c3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'minimax/minimax-m2.7',temperature:0.1,messages:[{role:'user',content:'Clean up this company name for a web search: ' + $json.company_name + '\\n\\nRules:\\n- Remove legal suffixes: Pte Ltd, Ltd, Pte. Ltd., LLP, Inc, Corp, Sdn Bhd\\n- Remove special characters: /, &, @\\n- Expand common abbreviations only if obvious\\n- Keep proper nouns and brand names exactly as-is\\n- If already clean, return as-is\\n- Do not add any extra words\\n\\nExamples:\\n- Pacific Healthcare Holdings Pte. Ltd. -> Pacific Healthcare Holdings\\n- NKF (Singapore) -> NKF Singapore\\n- St. Andrew\\'s Mission Hospital -> St Andrews Mission Hospital\\n\\nOutput: cleaned name only, one line.'}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29504,
        2512
      ],
      "id": "fe96459e-0322-426e-883f-d4682ce7909b",
      "name": "OpenRouter - Clean Name",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-clean-1",
              "leftValue": "={{ ($json.choices[0].message.content || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -29264,
        2512
      ],
      "id": "95be02d4-f40c-4abb-a6b5-7048bab1efb2",
      "name": "IF Clean Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"clean failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29024,
        2736
      ],
      "id": "f419fa01-a60f-47bc-9c75-588b772f9e65",
      "name": "Status - clean failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({q: $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + ' Singapore official website', num: 5}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29024,
        2512
      ],
      "id": "fe508761-32d3-4bff-b7e9-49064f6a746d",
      "name": "Serper - Search",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rNWf15tU6OmVJqMC",
          "name": "serper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-serper-1",
              "leftValue": "={{ ($json.organic || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -28784,
        2512
      ],
      "id": "23bbbeff-ed43-42a2-b15d-622435f713bc",
      "name": "IF Serper Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"serper failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28544,
        2736
      ],
      "id": "e52665d1-07bf-480b-b5fa-1d6b8890245d",
      "name": "Status - serper failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'https://nocodb-production-f802.up.railway.app';\nconst projectId = 'pb7f1zou786xyqc';\nconst token = 'SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN';\nconst pageSize = 1000;\n\nlet page = 1;\nlet allRecords = [];\nlet isLastPage = false;\n\nwhile (!isLastPage) {\n  const url = `${baseUrl}/api/v1/db/data/noco/${projectId}/mey3zgihq7o4at9?fields=url_validated&limit=${pageSize}&page=${page}`;\n  const response = await $helpers.httpRequest({ method: 'GET', url, headers: { 'xc-token': token } });\n  allRecords = allRecords.concat(response.list || []);\n  isLastPage = response.pageInfo?.isLastPage ?? true;\n  page += 1;\n}\n\nreturn allRecords.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28544,
        2512
      ],
      "id": "60be1b05-ba29-4f7a-9426-f43013b311f1",
      "name": "Paginate Read Column E",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst existingUrls = allItems.map(i => i.json.url_validated).filter(Boolean);\n// Only send last 200 URLs to avoid massive prompts at scale\nconst recentUrls = existingUrls.slice(-200);\nreturn [{ json: { existing_urls: recentUrls, all_urls: existingUrls } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28304,
        2512
      ],
      "id": "25bad941-99bb-4e77-a794-827166414fe3",
      "name": "Prep URL Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'minimax/minimax-m2.7',temperature:0.1,messages:[{role:'user',content:'Company: ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + '\\nSerper results:\\n' + ($('Serper - Search').item.json.organic || []).map(function(r){return r.title + ' | ' + r.link}).join('\\n') + '\\nAlready used URLs in sheet: ' + $('Prep URL Data').item.json.existing_urls.join(', ') + '\\n\\nPick the single best official URL for ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + '.\\n\\nRules:\\n- Must not already exist in the already used URLs list\\n- If all valid URLs are already in the list, output: duplicate\\n- Prefer .com.sg, .org.sg, .sg domains\\n- A parent company or group holding URL is acceptable\\n- Reject: Facebook, Instagram, LinkedIn, Recordowl, Healthhub, directories, news articles, government listing pages\\n- If no valid match exists, output: none\\n\\nOutput: URL only, or duplicate, or none. One line.'}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -28064,
        2512
      ],
      "id": "c75394b2-750d-400e-a626-47f2746624be",
      "name": "OpenRouter - URL Dedup",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-urldup-1",
              "leftValue": "={{ String($json.best_url || '').toLowerCase() }}",
              "rightValue": "duplicate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -27824,
        2512
      ],
      "id": "befde88b-8232-4477-9e49-479edacc3434",
      "name": "IF URL Duplicate"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"url duplicate - same org\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -27584,
        2736
      ],
      "id": "4ce96ba7-8df7-4e51-87c1-d66c9c9fa720",
      "name": "Status - url duplicate",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-urlnone-1",
              "leftValue": "={{ String($json.best_url || '').toLowerCase() }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-urlnone-2",
              "leftValue": "={{ ($json.best_url || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -27584,
        2512
      ],
      "id": "a1990fd5-efcb-4237-9e52-a4f0730e3442",
      "name": "IF URL None"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"no url found\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -27344,
        2736
      ],
      "id": "4ab1bdae-4776-40a8-8a8b-7bc462a29718",
      "name": "Status - no url found",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'minimax/minimax-m2.7',temperature:0.1,messages:[{role:'user',content:'Company: ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + '\\nURL: ' + ($json.best_url || '').trim() + '\\n\\nIs this URL the official website of ' + $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim() + ' or a legitimate parent/group company?\\n\\nAccept if:\\n- Domain clearly matches company name or known parent brand\\n- It is a real business homepage (.com, .org, .sg, .com.sg, .net)\\n\\nReject if:\\n- Facebook, Instagram, LinkedIn, Recordowl, Healthhub, directory, aggregator, news article, government listing\\n- URL is none\\n\\nOutput rules:\\n- If accepted: output the URL exactly as given\\n- If rejected: output empty string\\n\\nOutput: URL or empty.'}]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -27344,
        2512
      ],
      "id": "3a227517-97fa-48c1-bbf1-21e4870e3ee3",
      "name": "OpenRouter - URL Validate",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-urlrej-1",
              "leftValue": "={{ ($json.choices[0].message.content || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -27104,
        2512
      ],
      "id": "e4580f97-216e-40b1-b98d-5c8613be4ebe",
      "name": "IF URL Rejected"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"url rejected\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26864,
        2736
      ],
      "id": "b9c9bfa0-d550-4b9b-a03e-f5929bc9e56b",
      "name": "Status - url rejected",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scrape.serper.dev",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({url: $('OpenRouter - URL Validate').item.json.choices[0].message.content.trim()}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26864,
        2512
      ],
      "id": "a1f37d37-d37a-4ae8-9984-ab4f2a8f337e",
      "name": "Serper - Scrape",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "rNWf15tU6OmVJqMC",
          "name": "serper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-scrape-1",
              "leftValue": "={{ ($json.text || '').length }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -26624,
        2512
      ],
      "id": "f767a61e-1660-4b5d-ac13-e42d6463aa15",
      "name": "IF Scrape Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"scrape failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -26384,
        2736
      ],
      "id": "9bba2aa4-94f3-4feb-856a-e1cf1a3f8e9a",
      "name": "Status - scrape failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const websiteContent = ($('Serper - Scrape').item.json.text || '').substring(0, 15000);\nconst companyClean = $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: `Based on this website content: ${websiteContent}\n\nIs ${companyClean} HIA-relevant in Singapore?\n\nClassify as:\n- YES: Licensed healthcare service provider: GP clinic, hospital, nursing home, pharmacy, lab, radiology, dialysis, dental, community care, social service org serving healthcare\n- VENDOR: Tech/SaaS vendor, AI platform, cybersecurity firm, or consultant whose clients are Singapore healthcare providers\n- NO: Finance, retail, F&B, pure logistics, education, real estate - no healthcare client base\n\nOutput: one word only: YES / VENDOR / NO`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26144,
        2512
      ],
      "id": "08db30d6-dce0-499b-9bbf-19d7a756a7b3",
      "name": "Prep HIA Gate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -25904,
        2512
      ],
      "id": "68df1b8c-ed4f-4ebc-b13a-68fdd5a88961",
      "name": "OpenRouter - HIA Gate",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-hia-no",
              "leftValue": "={{ String(($json.choices[0].message.content || '').trim()).toUpperCase() }}",
              "rightValue": "NO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -25664,
        2512
      ],
      "id": "f7078f30-7cac-42c8-a166-bfee5e74038f",
      "name": "IF Not HIA"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"not HIA relevant\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -25424,
        2752
      ],
      "id": "0b4bfac6-f41b-48b7-8c1e-96febf66d921",
      "name": "Status - not HIA relevant",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-vendor",
              "leftValue": "={{ String(($json.choices[0].message.content || '').trim()).toUpperCase() }}",
              "rightValue": "VENDOR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -25424,
        2512
      ],
      "id": "a21368bc-4d9b-4dca-9b85-8e9e2b9e0042",
      "name": "IF Is Vendor"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  compliance_lead: 'CS/DS vendor readiness',\n  hia_relevant: 'VENDOR'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24624,
        2080
      ],
      "id": "87afa965-c016-463d-badb-c78d4be869dc",
      "name": "Set Vendor Fields"
    },
    {
      "parameters": {
        "jsCode": "const websiteContent = ($('Serper - Scrape').item.json.text || '').substring(0, 15000);\nconst companyClean = $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: `Website content: ${websiteContent}\nCompany: ${companyClean}\n\nReturn a JSON object with exactly these 4 keys:\n\n{\n  \"industry_segment\": \"[5 words max - what they do in Singapore. Examples: GP clinic chain, eldercare social service, AI scribe for clinics, corporate dental provider]\",\n  \"hia_batch\": \"[one of: Batch 1 - Sep 2027 (GP clinics, acute hospitals, labs, radiology, nursing homes, community hospitals) / Batch 2 - Sep 2028 (specialist outpatient, ambulatory surgical, dialysis, other HCSA licensees) / Batch 3 - Mar 2030 (dental, retail pharmacy, assisted reproduction) / Vendor to HIA clients (tech vendors, SaaS platforms)]\",\n  \"company_size\": \"[one of: SME / Mid / Enterprise / Unknown. SME = small clinic, single-location, <200 staff signals. Mid = multi-location group, regional presence. Enterprise = hospital system, listed company, large group]\",\n  \"product_descriptor\": \"[core product or service in max 6 words. Examples: AI scribe for clinic documentation / RTLS hospital tracking system / cloud HIMS for GP clinics]\"\n}\n\nOutput: valid JSON only. No markdown. No explanation.`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25184,
        2512
      ],
      "id": "9d6ba226-0eed-4978-b239-5eb049d3ce9c",
      "name": "Prep Enrichment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24944,
        2512
      ],
      "id": "8bc6ead4-f1b8-477d-8da1-461b1ee51fe4",
      "name": "OpenRouter - Enrichment",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = ($json.choices[0].message.content || '').trim();\nlet data;\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {\n  data = {};\n}\nreturn [{ json: {\n  industry_segment: data.industry_segment || '',\n  hia_batch: data.hia_batch || '',\n  company_size: data.company_size || '',\n  product_descriptor: data.product_descriptor || '',\n  hia_relevant: 'YES'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24704,
        2512
      ],
      "id": "b8f9566d-e229-4548-835b-24a3846a7630",
      "name": "Parse Enrichment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-enrich-seg",
              "leftValue": "={{ $json.industry_segment }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "cond-enrich-batch",
              "leftValue": "={{ $json.hia_batch }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -24464,
        2512
      ],
      "id": "2d92a9ee-ba26-47e3-bc12-91ad7a7dd835",
      "name": "IF Enrichment Failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"enrichment failed\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24224,
        2752
      ],
      "id": "b9f31008-2c14-4b68-a17c-6d3354ed565e",
      "name": "Status - enrichment failed",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/decision-maker",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ domain: $json.clean_domain, decision_maker_category: [\"ceo\",\"engineering\",\"finance\",\"it\",\"operations\"] }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23984,
        2512
      ],
      "id": "ed620ed6-5850-4283-833a-dd045cfcf64c",
      "name": "Anymail - Contact",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iThicAIVRbK0FBBl",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst fullName = data?.person_full_name || '';\nconst firstName = fullName.split(' ')[0] || '';\nreturn [{ json: {\n  first_name: firstName,\n  role: data?.person_job_title || '',\n  email: data?.valid_email || data?.email || '',\n  linkedin_url: data?.person_linkedin_url || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23744,
        2512
      ],
      "id": "ea5f2362-d119-4d1c-a015-e3364251d584",
      "name": "Parse Contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-nocontact-name",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "cond-nocontact-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -23504,
        2512
      ],
      "id": "f8e0ec97-1d87-46b4-9160-ebebdba9b5c8",
      "name": "IF No Contact"
    },
    {
      "parameters": {
        "jsCode": "const websiteContent = ($('Serper - Scrape').item.json.text || '').substring(0, 15000);\nconst companyClean = $('OpenRouter - Clean Name').item.json.choices[0].message.content.trim();\nconst body = {\n  model: 'minimax/minimax-m2.7',\n  temperature: 0.1,\n  messages: [{\n    role: 'user',\n    content: `Website content: ${websiteContent}\nCompany: ${companyClean}\n\nThis company is a VENDOR selling products or services to Singapore healthcare providers subject to HIA 2027.\n\nReturn a JSON object with exactly these 4 keys:\n\n{\n  \"industry_segment\": \"[5 words max - what they sell to healthcare. Examples: AI scribe for clinics, cybersecurity for hospitals, cloud HIMS platform, telehealth SaaS vendor]\",\n  \"company_size\": \"[one of: SME / Mid / Enterprise / Unknown. SME = startup, single product. Mid = regional, multi-product. Enterprise = global, listed]\",\n  \"product_descriptor\": \"[core product or service in max 6 words targeting healthcare clients]\",\n  \"hia_batch\": \"Vendor to HIA clients\"\n}\n\nOutput: valid JSON only. No markdown. No explanation.`\n  }]\n};\nreturn [{ json: { requestBody: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24384,
        2080
      ],
      "id": "3407d839-0ca4-4e2a-90cb-f79f007a7875",
      "name": "Prep Vendor Enrichment1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://primary-production-a6441.up.railway.app"
            },
            {
              "name": "X-Title",
              "value": "RAYN Secure Enrichment"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -24144,
        2080
      ],
      "id": "7c2b6652-0757-4e63-b2ab-e23c12cfd00f",
      "name": "OpenRouter - Vendor Enrichment1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kVt6l9PuADkn7yhu",
          "name": "openrouter"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = ($json.choices[0].message.content || '').trim();\nlet data;\ntry {\n  const cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  data = JSON.parse(cleaned);\n} catch(e) {\n  data = {};\n}\nreturn [{ json: {\n  industry_segment: data.industry_segment || '',\n  hia_batch: 'Vendor to HIA clients',\n  company_size: data.company_size || '',\n  product_descriptor: data.product_descriptor || '',\n  compliance_lead: 'CS/DS vendor readiness',\n  hia_relevant: 'VENDOR'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23904,
        2080
      ],
      "id": "d61684f7-796f-4220-81d9-75690f72483a",
      "name": "Parse Vendor Enrichment1"
    },
    {
      "parameters": {
        "jsCode": "// Extract clean domain from URL Validate response\nconst raw = String($('OpenRouter - URL Validate').item.json.choices[0].message.content || '').trim();\n\n// Strip quotes, markdown, and whitespace the LLM may have added\nconst cleaned = raw.replace(/[`'\"\\[\\]()]/g, '').replace(/\\s+/g, '').trim();\n\n// Extract domain: remove protocol, www, trailing path\nlet domain = cleaned\n  .replace(/^https?:\\/\\//i, '')\n  .replace(/^www\\./i, '')\n  .split('/')[0]\n  .split('?')[0]\n  .split('#')[0];\n\n// Validate it looks like a domain\nif (!domain || !domain.includes('.')) {\n  domain = '';\n}\n\nreturn [{ json: { clean_domain: domain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24224,
        2512
      ],
      "id": "1d811006-9b95-4ebd-9877-6034f0878c7c",
      "name": "Prep Anymail Domain"
    },
    {
      "parameters": {
        "jsCode": "const picked = ($json.choices[0].message.content || '').trim();\nconst lower = String(picked).toLowerCase();\n\n// Check if it's duplicate/none first\nif (lower === 'duplicate' || lower === 'none' || !picked) {\n  return [{ json: { best_url: picked } }];\n}\n\n// Check against ALL existing URLs (not just the 200 sent to LLM)\nconst allUrls = $('Prep URL Data').item.json.all_urls || [];\nconst pickedClean = picked.replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').replace(/\\/+$/, '').toLowerCase();\n\nconst isDuplicate = allUrls.some(function(u) {\n  const existing = String(u).replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').replace(/\\/+$/, '').toLowerCase();\n  return existing === pickedClean;\n});\n\nif (isDuplicate) {\n  return [{ json: { best_url: 'duplicate' } }];\n}\n\nreturn [{ json: { best_url: picked } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27824,
        2512
      ],
      "id": "27312d17-5c2a-4466-8a6f-761d058ff998",
      "name": "Check URL Against All"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hunter.io/v2/domain-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_HUNTER_API_KEY"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('Prep Anymail Domain').item.json.clean_domain }}"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "type",
              "value": "personal"
            },
            {
              "name": "department",
              "value": "it,management,finance,operations"
            },
            {
              "name": "required_field",
              "value": "full_name"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ef208871-8b6d-4a67-a4cb-c59fa6401b07",
      "name": "Hunter - Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23264,
        2992
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const emails = ($json?.data?.emails || []);\n// Priority: management > it > finance > operations\nconst priority = ['management', 'it', 'finance', 'operations'];\nlet best = null;\nfor (const dept of priority) {\n  best = emails.find(e => e.department === dept && e.type === 'personal');\n  if (best) break;\n}\nif (!best) best = emails.find(e => e.type === 'personal');\nif (!best) best = emails[0];\nif (!best) return [{ json: { first_name: '', role: '', email: '', linkedin_url: '', source: 'hunter' } }];\nreturn [{ json: {\n  first_name: best.first_name || '',\n  role: best.position || '',\n  email: best.value || '',\n  linkedin_url: best.linkedin || '',\n  source: 'hunter'\n} }];"
      },
      "id": "601985e9-7b46-4c34-b9a0-1d8fba4109e5",
      "name": "Parse Hunter Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23024,
        2992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-still-1",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            },
            {
              "id": "cond-still-2",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d48604da-666e-49a2-b6ba-c89f028c634d",
      "name": "IF Still No Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -22784,
        2992
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"no contact found\"}",
        "options": {}
      },
      "id": "9f023ec1-dce4-440c-919b-925b0db86cb3",
      "name": "Status - no contact found (stop)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22544,
        3216
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const enrichment = $('Normalize Enrichment').item.json;\nconst contact = $('Parse Contact').item.json;\nconst cleanName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nconst urlValidated = ($('OpenRouter - URL Validate').item.json.choices[0].message.content || '').trim();\nconst scrapeContent = $('Serper - Scrape').item.json.text || '';\nconst hiaGate = ($('OpenRouter - HIA Gate').item.json.choices[0].message.content || '').trim();\nconst trigger = $('GET Full Record').item.json;\nconst serperResults = JSON.stringify(($('Serper - Search').item.json.organic || []).slice(0,3).map(r => r.title + ' | ' + r.link).join('; '));\nreturn [{ json: {\n  company_name:       trigger.company_name,\n  company_name_clean: cleanName,\n  serper_results:     serperResults,\n  best_url:           urlValidated,\n  url_validated:      urlValidated,\n  website_content:    scrapeContent,\n  hia_relevant:       hiaGate,\n  industry_segment:   enrichment.industry_segment || '',\n  hia_batch:          enrichment.hia_batch || '',\n  company_size:       enrichment.company_size || '',\n  product_descriptor: enrichment.product_descriptor || '',\n  first_name:         contact.first_name || '',\n  role:               contact.role || '',\n  email:              contact.email || '',\n  linkedin_url:       contact.linkedin_url || '',\n  contact_source:     contact.source || 'anymail',\n  status:             'pending_verification'\n}}];"
      },
      "id": "ed68a87b-2a95-4522-8b2f-57f7237b8ca7",
      "name": "Prep Partial Anymail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23264,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const enrichment = $('Normalize Enrichment').item.json;\nconst contact = $json;\nconst cleanName = ($('OpenRouter - Clean Name').item.json.choices[0].message.content || '').trim();\nconst urlValidated = ($('OpenRouter - URL Validate').item.json.choices[0].message.content || '').trim();\nconst scrapeContent = $('Serper - Scrape').item.json.text || '';\nconst hiaGate = ($('OpenRouter - HIA Gate').item.json.choices[0].message.content || '').trim();\nconst trigger = $('GET Full Record').item.json;\nconst serperResults = JSON.stringify(($('Serper - Search').item.json.organic || []).slice(0,3).map(r => r.title + ' | ' + r.link).join('; '));\nreturn [{ json: {\n  company_name:       trigger.company_name,\n  company_name_clean: cleanName,\n  serper_results:     serperResults,\n  best_url:           urlValidated,\n  url_validated:      urlValidated,\n  website_content:    scrapeContent,\n  hia_relevant:       hiaGate,\n  industry_segment:   enrichment.industry_segment || '',\n  hia_batch:          enrichment.hia_batch || '',\n  company_size:       enrichment.company_size || '',\n  product_descriptor: enrichment.product_descriptor || '',\n  first_name:         contact.first_name || '',\n  role:               contact.role || '',\n  email:              contact.email || '',\n  linkedin_url:       contact.linkedin_url || '',\n  contact_source:     contact.source || 'hunter',\n  status:             'pending_verification'\n}}];"
      },
      "id": "75d511b2-3cf4-4786-9dc9-074a5bab1ad1",
      "name": "Prep Partial Hunter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22544,
        2992
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ company_name: $json.company_name, company_name_clean: $json.company_name_clean, serper_results: $json.serper_results, best_url: $json.best_url, url_validated: $json.url_validated, website_content: $json.website_content, hia_relevant: $json.hia_relevant, industry_segment: $json.industry_segment, hia_batch: $json.hia_batch, company_size: $json.company_size, product_descriptor: $json.product_descriptor, first_name: $json.first_name, role: $json.role, email: $json.email, linkedin_url: $json.linkedin_url, contact_source: $json.contact_source, status: $json.status }) }}",
        "options": {}
      },
      "id": "6c7b4c7e-c7cd-417c-8790-d7e9627fd885",
      "name": "Write Partial & Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22064,
        2752
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24224,
        2512
      ],
      "id": "eaf29c39-825c-4e77-8276-c3b7be19659e",
      "name": "Normalize Enrichment"
    },
    {
      "name": "HTTP Status Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "http-status-check-001",
      "position": [
        -27104,
        2512
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.best_url }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "name": "Parse HTTP Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "parse-http-status-001",
      "position": [
        -26864,
        2512
      ],
      "parameters": {
        "jsCode": "const best_url = $('IF URL None').item.json.best_url;\nconst statusCode = $json.statusCode;\nconst hasNetworkError = !!$json.error || statusCode === undefined;\n\n// Network error (connection refused, DNS fail, timeout) -> unreachable\nif (hasNetworkError) {\n  return [{ json: { best_url, _unreachable: true, http_reason: 'connection_error' } }];\n}\n\n// 5xx server errors -> unreachable\nif (statusCode >= 500) {\n  return [{ json: { best_url, _unreachable: true, http_reason: 'server_error_' + statusCode } }];\n}\n\n// 403/429 = site is up but blocking bots -> proceed\n// 2xx/3xx (n8n follows redirects to final URL) -> proceed\n// 404 = specific page missing but domain exists -> proceed (URL validate will judge)\nreturn [{ json: { best_url, _unreachable: false, http_status: statusCode } }];"
      }
    },
    {
      "name": "IF Unreachable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "id": "if-unreachable-001",
      "position": [
        -26624,
        2512
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-unreach-1",
              "leftValue": "={{ $json._unreachable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Status - url unreachable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "status-url-unreachable-001",
      "position": [
        -26624,
        2272
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"url unreachable\"}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const baseUrl = 'https://nocodb-production-f802.up.railway.app';\nconst projectId = 'pb7f1zou786xyqc';\nconst tableId = 'mey3zgihq7o4at9';\nconst token = 'SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN';\n\nconst tenMinutesAgo = new Date(Date.now() - 10 * 60 * 1000).toISOString();\n\nconst getUrl = `${baseUrl}/api/v1/db/data/noco/${projectId}/${tableId}` +\n  `?where=(status,eq,processing)~and(UpdatedAt,lt,${encodeURIComponent(tenMinutesAgo)})&limit=100`;\n\nconst response = await $helpers.httpRequest({ method: 'GET', url: getUrl, headers: { 'xc-token': token } });\nconst stuckRows = response.list || [];\n\nfor (const row of stuckRows) {\n  const patchUrl = `${baseUrl}/api/v1/db/data/noco/${projectId}/${tableId}/${row.Id}`;\n  await $helpers.httpRequest({ method: 'PATCH', url: patchUrl, headers: { 'xc-token': token, 'Content-Type': 'application/json' }, body: JSON.stringify({ status: 'pending' }) });\n}\n\nreturn [{ json: { cleanup_count: stuckRows.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -30344,
        2512
      ],
      "id": "cleanup-stuck-processing-001",
      "name": "Cleanup Stuck Processing"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9?where=(status,eq,pending)&limit=5&fields=Id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -30104,
        2512
      ],
      "id": "get-pending-ids-001",
      "name": "Get Pending IDs"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const list = $json.list || [];\nif (list.length === 0) {\n  return [{ json: { _skip: true, count: 0 } }];\n}\n// Return all pending IDs as separate items\nreturn list.map(row => ({ json: { Id: row.Id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -29884,
        2512
      ],
      "id": "parse-pending-ids-001",
      "name": "Parse Pending IDs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-nopending-1",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -29664,
        2512
      ],
      "id": "if-no-pending-001",
      "name": "IF No Pending Leads"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -29444,
        2732
      ],
      "id": "no-pending-stop-001",
      "name": "No Pending - Stop"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -29444,
        2512
      ],
      "id": "loop-over-items-001",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"processing\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29224,
        2512
      ],
      "id": "patch-status-processing-001",
      "name": "PATCH Status Processing",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nocodb-production-f802.up.railway.app/api/v1/db/data/noco/pb7f1zou786xyqc/mey3zgihq7o4at9/{{ $('Loop Over Items').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "SqqM8YcDuzXGijg0oY7PvqTcPX5H-r2sYqbAOWTN"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -29004,
        2512
      ],
      "id": "get-full-record-001",
      "name": "GET Full Record",
      "continueOnFail": true
    },
    {
      "id": "wait-before-clean-name-001",
      "name": "Wait Before OpenRouter - Clean Name",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -29254,
        2512
      ],
      "parameters": {
        "resume": "timeInterval",
        "interval": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "wait-before-url-dedup-001",
      "name": "Wait Before OpenRouter - URL Dedup",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -28184,
        2512
      ],
      "parameters": {
        "resume": "timeInterval",
        "interval": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "wait-before-url-validate-001",
      "name": "Wait Before OpenRouter - URL Validate",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -26984,
        2512
      ],
      "parameters": {
        "resume": "timeInterval",
        "interval": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "wait-before-hia-gate-001",
      "name": "Wait Before OpenRouter - HIA Gate",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -26024,
        2512
      ],
      "parameters": {
        "resume": "timeInterval",
        "interval": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "wait-before-enrichment-001",
      "name": "Wait Before OpenRouter - Enrichment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -25064,
        2512
      ],
      "parameters": {
        "resume": "timeInterval",
        "interval": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "wait-before-vendor-enrichment-001",
      "name": "Wait Before OpenRouter - Vendor Enrichment1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -24264,
        2080
      ],
      "parameters": {
        "resume": "timeInterval",
        "interval": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "loop-done-noop-001",
      "name": "Loop Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -29444,
        2272
      ],
      "parameters": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cleanup Stuck Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Clean Name": {
      "main": [
        [
          {
            "node": "IF Clean Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Clean Failed": {
      "main": [
        [
          {
            "node": "Status - clean failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Serper - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper - Search": {
      "main": [
        [
          {
            "node": "IF Serper Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Serper Failed": {
      "main": [
        [
          {
            "node": "Status - serper failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paginate Read Column E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URL Data": {
      "main": [
        [
          {
            "node": "Wait Before OpenRouter - URL Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - URL Dedup": {
      "main": [
        [
          {
            "node": "Check URL Against All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF URL Duplicate": {
      "main": [
        [
          {
            "node": "Status - url duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF URL None",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF URL None": {
      "main": [
        [
          {
            "node": "Status - no url found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - URL Validate": {
      "main": [
        [
          {
            "node": "IF URL Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF URL Rejected": {
      "main": [
        [
          {
            "node": "Status - url rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Serper - Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper - Scrape": {
      "main": [
        [
          {
            "node": "IF Scrape Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Scrape Failed": {
      "main": [
        [
          {
            "node": "Status - scrape failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep HIA Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep HIA Gate": {
      "main": [
        [
          {
            "node": "Wait Before OpenRouter - HIA Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - HIA Gate": {
      "main": [
        [
          {
            "node": "IF Not HIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Not HIA": {
      "main": [
        [
          {
            "node": "Status - not HIA relevant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Is Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Vendor": {
      "main": [
        [
          {
            "node": "Set Vendor Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Vendor Fields": {
      "main": [
        [
          {
            "node": "Prep Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Enrichment": {
      "main": [
        [
          {
            "node": "Wait Before OpenRouter - Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Enrichment": {
      "main": [
        [
          {
            "node": "Parse Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enrichment": {
      "main": [
        [
          {
            "node": "IF Enrichment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enrichment Failed": {
      "main": [
        [
          {
            "node": "Status - enrichment failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anymail - Contact": {
      "main": [
        [
          {
            "node": "Parse Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact": {
      "main": [
        [
          {
            "node": "IF No Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Contact": {
      "main": [
        [
          {
            "node": "Hunter - Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Partial Anymail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "Wait Before OpenRouter - Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "Parse Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "Normalize Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Anymail Domain": {
      "main": [
        [
          {
            "node": "Anymail - Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URL Against All": {
      "main": [
        [
          {
            "node": "IF URL Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter - Contact": {
      "main": [
        [
          {
            "node": "Parse Hunter Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Contact": {
      "main": [
        [
          {
            "node": "IF Still No Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Still No Contact": {
      "main": [
        [
          {
            "node": "Status - no contact found (stop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Partial Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Partial Anymail": {
      "main": [
        [
          {
            "node": "Write Partial & Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Partial Hunter": {
      "main": [
        [
          {
            "node": "Write Partial & Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Enrichment": {
      "main": [
        [
          {
            "node": "Prep Anymail Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Status Check": {
      "main": [
        [
          {
            "node": "Parse HTTP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTTP Status": {
      "main": [
        [
          {
            "node": "IF Unreachable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Unreachable": {
      "main": [
        [
          {
            "node": "Status - url unreachable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before OpenRouter - URL Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Stuck Processing": {
      "main": [
        [
          {
            "node": "Get Pending IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending IDs": {
      "main": [
        [
          {
            "node": "Parse Pending IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pending IDs": {
      "main": [
        [
          {
            "node": "IF No Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF No Pending Leads": {
      "main": [
        [
          {
            "node": "No Pending - Stop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PATCH Status Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Status Processing": {
      "main": [
        [
          {
            "node": "GET Full Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Full Record": {
      "main": [
        [
          {
            "node": "Wait Before OpenRouter - Clean Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OpenRouter - Clean Name": {
      "main": [
        [
          {
            "node": "OpenRouter - Clean Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OpenRouter - URL Dedup": {
      "main": [
        [
          {
            "node": "OpenRouter - URL Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OpenRouter - URL Validate": {
      "main": [
        [
          {
            "node": "OpenRouter - URL Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OpenRouter - HIA Gate": {
      "main": [
        [
          {
            "node": "OpenRouter - HIA Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OpenRouter - Enrichment": {
      "main": [
        [
          {
            "node": "OpenRouter - Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before OpenRouter - Vendor Enrichment1": {
      "main": [
        [
          {
            "node": "OpenRouter - Vendor Enrichment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - clean failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - serper failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - url duplicate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - no url found": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - url unreachable": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - url rejected": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - scrape failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - not HIA relevant": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - no contact found (stop)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status - enrichment failed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Partial & Pending": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginate Read Column E": {
      "main": [
        [
          {
            "node": "Prep URL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6c87d3ca-d1b2-47c1-b3b7-93eda75198ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b78381ec16e7beefcb107e875e8eea12c33a1dbcd8fb6b17e3970e1a503cab3e"
  },
  "id": "dxdjHo8QCPLoTGPa",
  "tags": []
}